.tracking-action{color:#000;text-decoration:underline}.tracking-action:VISITED{color:#ec7205}div.ship-detail-table{padding:0}div.ship-detail-date{border-left:15px solid #0099c8;padding:10px 10px 10px 10px}div.ship-detail-date ul{list-style:none}div.carrier-info label{font-size:15px}div.carrier-info a{float:right;color:#09c;font-size:15px}div.status-info{background-color:#dbd8d3;padding:10px 0}
