## messageSource=classpath:/aldahracore/messages/email-customerRegistration_$lang.properties
#macro( genHtmlBoldFont $text )
<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>$text</b></font>
#end
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#6fbb34" style="text-decoration: none; font-weight: 600;">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="#6fbb34" style="text-decoration: none; font-weight: 600;">$bodyContent</font></a>
#end
#macro(displayNegationForDiscount $priceData)
	#if (${priceData.value} > 0)
    -
	#end
	${priceData.formattedValue}
#end
#if ( ${ctx.email_language.isocode} == 'ar' )
	#set ($langDir = "direction: rtl;text-align: right;")
#else
	#set ($langDir = "direction: ltr;text-align: left;")
#end
<html>
<head>
  <meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <title></title> 
  <style type="text/css">

  	
		body,
		#bodyTable {
			height:100% !important;
			width:100% !important;
			margin:0;
			padding:0;

		}
		
		
		body,
		table,
		td,
		p,
		a,
		li,
		blockquote {font-family: Arial, Helvetica, sans-serif;
			-ms-text-size-adjust:100%;
      color: #414c50;
      font-size: 14px;
			-webkit-text-size-adjust:100%;
      line-height: 23px;
		}

		
		.thread-item.expanded .thread-body .body,
		.msg-body {
			width: 100% !important;
			display: block !important;
		}

    
    .ReadMsgBody,
    .ExternalClass {
			width: 100%;
			background-color: #f4f4f4;
    }


		.ExternalClass,
		.ExternalClass p,
		.ExternalClass span,
		.ExternalClass font,
		.ExternalClass td,
		.ExternalClass div {
			line-height:100%;
    }

    
    table {
			border-spacing:0;
    }

    
    table,
    td {
			border-collapse:collapse;
			mso-table-lspace:0pt;
			mso-table-rspace:0pt;
    }
    
   
    img {
    	-ms-interpolation-mode: bicubic;
    }
    
   
    img,
    a img {
    	border:0;
    	outline:none;
    	text-decoration:none;	    
    }

    
    .yshortcuts a {
			border-bottom: none !important;
    }
    
   
    a[href^=tel],
		.mobile_link,
		.mobile_link a {
	    color:#222222 !important;
			text-decoration: underline !Important;
    }
  
  
	
		@media only screen and (min-width: 601px) {
			.email-container {
				width: 600px !important;
			}
		}
          
  </style>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" bgcolor="#ffffff" style="margin:0; padding:0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none;$langDir">	
<table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%" bgcolor="#ffffff" id="bodyTable" style="border-collapse: collapse;table-layout: fixed;margin:0 auto;">
	<tr>
		<td>
  <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="max-width: 600px;margin: auto;" class="email-container">
    <tr>
    	<td>

     
        <table border="0" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td height="40" style="font-size: 0; line-height: 0;">&nbsp;</td>
          </tr>
          <tr>
            <td valign="middle" >
              ${ctx.cmsSlotContents.SiteLogo}
            </td>
           
          </tr>
          
        </table>
   
  
        <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
      
       
          <tr>
            <td valign="middle" align="left" style="padding: 10px 30px 0px;">
              ${ctx.cmsSlotContents.HeaderContent}
            </td>
          </tr>
         	<tr>
				<td valign="middle">
					<font color="#666666" size="2" face="Arial, Helvetica, sans-serif">
						${ctx.cmsSlotContents.TopContent}
					</font>
				</td>
			</tr>
			<tr>
	            <td valign="middle" style="padding: 10px 40px;">
	              ${ctx.cmsSlotContents.BottomContent}
	            </td>
		      </tr>
				<tr style="padding: 10px" >
          <td valign="middle" align="center" style="padding: 20px;background-color: #dffdff;">
            <a href="${ctx.baseUrl}/faq" style="text-decoration: none;">${ctx.messages.help}</a>
            <a href="${ctx.baseUrl}/contact-us" style="padding: 0px 20px;text-decoration: none;">${ctx.messages.contactUs}</a>
            <a href="${ctx.baseUrl}/termsAndConditions" style="text-decoration: none;">${ctx.messages.termsAndCondition}</a>
            </td>
          </tr>
        </table>
      </td>
		</tr>
  </table>
</td></tr></table>
</body>
</html>