<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>

<spring:htmlEscape defaultHtmlEscape="true" />

<div id="addToCartTitle" class="display-none">
	<spring:theme code="basket.added.to.basket"/>
</div>






  