<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="TopHeaderSlot"/>
				</td>
			</tr>
			<tr>
				<td height="125px" width="35%" rowspan="2" class="structureViewSection">
					<cockpit code="SiteLogo" />
				</td>
				<td colspan="2" class="structureViewSection">
					<cockpit code="HeaderLinks" />
					<cockpit code="SearchBox" />
				</td>
				<td width="20%" rowspan="2" class="structureViewSection">
					<cockpit code="MiniCart" />
				</td>
			</tr>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="NavigationBar" />
				</td>
			</tr>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="BottomHeaderSlot"/>
				</td>
			</tr>
			<tr>
				<td colspan="4" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section1" />
				</td>
			</tr>
			<tr>
				<td colspan="2" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section2A" />
				</td>
				<td width="25%" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section2B" />
				</td>
				<td width="25%" height="249px" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section2C" />
				</td>
			</tr>
			<tr>
				<td colspan="4" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section3" />
				</td>
			</tr>
			<tr>
				<td colspan="4" height="249px" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section4" />
				</td>
			</tr>
			<tr>
				<td colspan="4" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section5" />
				</td>
			</tr>
			<tr>
			<td height="270px" class="structureViewSection">
				<cockpit code="Footer"/>
			</td>
			<td height="270px" class="structureViewSection">
				<cockpit code="FooterNavLinks"/>
			</td>
			<td height="270px" class="structureViewSection">
				<cockpit code="FooterPaymentLinks"/>
			</td>
			<td height="270px" class="structureViewSection">
				<cockpit code="FooterAppStoreLinks"/>
			</td>
			<td height="270px" class="structureViewSection">
				<cockpit code="FooterFollowUsLinks"/>
			</td>
		</tr>
		<tr>
			<td height="270px" colspan="3" class="structureViewSection">
				<cockpit code="CopyrightFooter"/>
			</td>
		</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>
