<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td colspan="7" class="structureViewSection">
					<cockpit code="TopHeaderSlot"/>
				</td>
			</tr>
			<tr>
				<td colspan="2" height="125px" width="25%" rowspan="2" class="structureViewSection">
					<cockpit code="SiteLogo" />
				</td>
				<td colspan="4" class="structureViewSection">
					<cockpit code="HeaderLinks" />
					<cockpit code="SearchBox" />
				</td>
				<td width="20%" rowspan="2" class="structureViewSection">
					<cockpit code="MiniCart" />
				</td>
			</tr>
			<tr>
				<td colspan="7" class="structureViewSection">
					<cockpit code="NavigationBar" />
				</td>
			</tr>
			<tr>
				<td colspan="7" class="structureViewSection">
					<cockpit code="BottomHeaderSlot"/>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="structureViewSection">
					<cockpit code="ProductLeftRefinements"/>
				</td>
				<td colspan="5" class="structureViewSection">
					<cockpit code="SearchResultsListSlot"/>
				</td>
			</tr>
			<tr>
			<td height="270px" class="structureViewSection">
				<cockpit code="Footer"/>
			</td>
			<td height="270px" class="structureViewSection">
				<cockpit code="FooterNavLinks"/>
			</td>
			<td height="270px" class="structureViewSection">
				<cockpit code="FooterPaymentLinks"/>
			</td>
			<td height="270px" class="structureViewSection">
				<cockpit code="FooterAppStoreLinks"/>
			</td>
			<td height="270px" class="structureViewSection">
				<cockpit code="FooterFollowUsLinks"/>
			</td>
		</tr>
		<tr>
			<td height="270px" colspan="3" class="structureViewSection">
				<cockpit code="CopyrightFooter"/>
			</td>
		</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>
