.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkbox label {
  padding-left: 30px;
  min-height: 18px;
  color: #6f6f6f;
  text-transform: capitalize;
  font-size: 13px;
  display: inline-block;
  max-width: 100%;

  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

label.uncased {
  text-transform: none;
}


.toggle-button input[type="checkbox"]:checked ~ label .toggle-button__switch {
  background-color: #6fbb34;
}

.toggle-button label .toggle-button__switch.is-checked {
  border-color: #6fbb34;
}


.toggle-button label .toggle-button__switch {
  position: relative;
  height: 33px;
  flex: 0 0 56px;
  border-radius: 60px;
  border: 1px solid #e8e7e5;
  background-color: #ffffff;
}

@media (min-width: @screen-md-min) {
  .table_menu {

    #menu_nav_link {
      text-align: center;
      position: relative;
      background: rgb(255, 255, 255);

      li {
        display: inline-block;
        float: none;
        margin-left: 2%;
        margin-right: 2%;
        @media (min-width: @screen-sm-min) {


        }
      }
    }

  }
}

.block {
  width: initial;
  max-width: 100%;
  display: block;
  margin-top: -40px;
  margin-bottom: 10px;
}

.smile {
  background: url(../images/smile.svg) no-repeat;
  display: block;
}

.main__inner-wrapper {
  padding: 0 30px;
  @media (max-width: @screen-md-max) {
    padding: 0 10px;
  }

  .inverce_30 {
    margin: 0 -30px;
    @media (max-width: @screen-md-max) {
      margin: 0 -10px;
    }
  }
}

.margin-bottom {
  margin-bottom: 30px !important;
}

.no-space .yCmsComponent.right-margin {
  @media (min-width: @screen-md-min) {
    padding-right: 15px !important;
  }
}

.no-space .yCmsComponent.left-margin {
  @media (min-width: @screen-md-min) {
    padding-left: 15px !important;
  }
}


@media (max-width: @screen-md-max) and (min-width: @screen-md-min) {
  .table_menu #menu_nav_link li {
    margin-left: 1%;
    margin-right: 1%;

    a {
      padding: 10px 10px;
    }
  }

  footer .logo .banner__component img {

    margin-left: 10px;
    max-width: 225px;
  }

}

@media (min-width: 1024px) {
  .table_menu #menu_nav_link li {
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media (min-width: 1224px) {
  .table_menu #menu_nav_link li {
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media (min-width: 1424px) {
  .table_menu #menu_nav_link li {
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media (min-width: @screen-md-min) {
  .boder_personal_info {
    line-height: 36px;
    border: 2px solid #f8f8f8;
    padding: 3px;
    border-radius: 7px;

    &:hover {
      border: 2px solid #f8f8f8;

    }

    .user {
      font-size: 15px;

      color: #6fbb33;
      font-weight: 500;

    }
  }

  .NAVcompONENT {
    position: absolute;
    z-index: 1003;
    background-color: #fff;
    top: 39px;
    display: none;
    right: 58px;
    width: 230px;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.54), 0 6px 20px 0 rgba(0, 0, 0, 0.28);

    .accNavComponent__child-wrap {
      margin: 20px;

      li {
        padding: 10px;
      }
    }
  }


}


@media (max-width: @screen-sm-max) {
  .registration {
    padding-bottom: 0 !important
  }


  .loginaccount {
    padding-bottom: 0px !important;
  }

  .NAVcompONENT {
    display: none;
  }

  .boder_personal_info {

    padding: 4px;
    border: 2px solid #FFF;
    border-radius: 7px;

    &:hover {
      border: 2px solid #fff;
    }
  }

  .js-mobile-logo {
    text-align: center;

    a {
      img {
        max-width: 275px;
        width: 150px;

      }
    }

  }


}

.has-error .help-block {
  font-weight: 500;
  color: #c53131;
  margin-left: 10px;
  margin-top: 10px;
}


.sticky-wrapper {
  height: auto !important;
  position: relative;
}

.sub__navigation {

  margin: 0

}


.sticky-wrapper.is-sticky {
  z-index: 50;
  position: relative;

  header {
    box-shadow: 0px 0px 6px #0000004f;
  }
}

.checkout-login-right-content-component .headline {

  color: #6fbb34;
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  padding: 20px 0;
  margin: 0;
  text-align: left;

}

#guestForm {
  .form-group {
    margin-top: 35px;

    label {
      display: none;
    }

    input {
      background: #eff9fa;
      height: 40px;
    }

  }

  .sub_btn {
    margin-top: 54px;
  }

  .btn-default[disabled] {
    color: #ffffff;
    background-color: #909090;
    border-color: #909090;

    &:hover {
      color: #ffffff;
      background-color: #424242;
      border-color: #424242;

    }
  }
}


.Pad_cart_de {
  padding: 15px 60px;


}

.pad_t {
  margin-top: 20px !important;

}
.bottom_fexed{position: fixed; bottom: 0; z-index: 100;left:0;right:0;}
#consent-management-alert .consent-management-list__item{margin-bottom: 0;}
#js-cookie-notification {


  border-radius: 0;
  padding: 7px;
  background: #484848;
  z-index: 100;
  color: #fff;
 
  border: 1px solid #484848;
  margin:0;

  .close {
    color: #fff;
    opacity: .8;
  }

}

.tel {
  color: #5d6365;
  font-size: 16px;
  float: left;
  line-height: 34px;
  padding-right: 10px;
  @media (max-width: @screen-md-max) {
    font-size: 12px;
    line-height: 37px;
  }

  i {
    font-size: 16px;
    color: #68bb34;
    font-weight: 600;
  }
}

.sharethis-inline-share-buttons {

  display: inline-block;

}

#cboxTitle {
  .headline {
    padding: 0;
    font-size: 18px;
    text-align: left;
    @media (max-width: @screen-sm-max) {
      font-size: 15px;

    }
  }


}

.bootstrap-select .btn-select {
  font-size: 12px !important;
  border: 1px solid #ccc;
  background: #fff !important;
  color: #000 !important;
  font-weight: 500;
  box-shadow: none;
}

.tab-review {
  label {
    color: #ababab;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;

  }


}


.selectors_pdp {
  @media (min-width: @screen-md-min) {
    margin-top: 25px;
    a {
      margin-left: 20px;

      img {
        max-width: 175px;

      }

      .smile {
        width: 58px !important;
        right: 14px !important;
        height: 52px !important;
        bottom: 0px !important;
      }
    }


    @media (min-width: 2000px) {
      width: 200px;
      float: right;
      margin-right: 25px;
    }
  }


  @media (max-width: @screen-sm-max) {
    margin-top: 25px;
    a {

      img {
        max-width: 75px;

      }

      .smile {
        position: absolute;
        bottom: -23px !important;
        height: 52px !important;
        right: 3px !important;
        width: 40px !important;
      }
    }
  }


}

.storeCredit_div {

  .container-radio {
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;

    color: #656565;
    font-size: 14px;
    @media (max-width: @screen-xs-max) {

      font-size: 12px;
    }
  }

  /* Hide the browser's default radio button */

  .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;

    border-radius: 50%;
    border: 1px solid #afafaf;
  }

  /* On mouse-over, add a grey background color */

  .container-radio:hover input ~ .checkmark {
    border: 1px solid #ccc;
  }

  /* When the radio button is checked, add a blue background */

  .container-radio input:checked ~ .checkmark {
    border: 1px solid #f08d38;

  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */

  .container-radio input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */

  .container-radio .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f08d38;
  }
}

#sctCode {
  display: none;
}

.checkout_store {
  .headline {
    text-align: left;
    color: #626262;

  }

  position: relative;

  .balance {
    position: absolute;
    top: 35px;
    right: 30px;
    border: 1px solid #e2e2e2;
    padding: 15px;
    padding-bottom: 35px;
    border-radius: 15px;

    .available {
      display: inherit;
      padding-bottom: 4px;
      font-size: 15px;
      color: #6ebb33;
      text-align: center;

    }

    @media (max-width: @screen-md-max) {
      position: unset;

    }

    .aed {
      display: block;
      text-align: center;
      font-size: 18px;
      color: #6ebb33;
      font-weight: 700;
      padding-bottom: 4px;
    }

    .smile {
      width: 73px;
      height: 47px;
      display: block;
      position: absolute;
      left: 35%;
      @media (max-width: @screen-md-max) {
        left: 44%;

      }
      @media (max-width: @screen-sm-max) {
        left: 40%;

      }
      @media (max-width: @screen-xs-max) {
        left: 37%;

      }
    }

  }
}

#addressForm {
  .form-group {
    color: #000;
    margin-bottom: 25px;

    label {
      display: none;
    }

    label.add-address-left-label {
      display: inline
    }

    input::placeholder {

      color: #000;
    }

    input:focus {

      background: #fff !important;
    }

    .btn-select {
      background: #fff !important;
      color: #000 !important;
    }

    .help-block {
      font-weight: 500;
      color: #c53131;
      margin-left: 10px;
      margin-top: 0px;
      position: absolute;


    }


  }
}

.con_icon {
  margin-right: 5px;
  font-size: 15px;

}

.text_cen {

  text-align: center !important;

}

.sort-refine-bar {
  label {
    color: #7a7b7a;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 8px;
  }

  .btn-select {
    margin: 0;
    background: #fff !important;
    color: #000 !important
  }

}


.site-search .ui-menu-item {
  min-height: 66px;
  display: flow-root !important;

  a {
    display: block;
    float: left;
    width: 100%;

    .thumb {
      float: left;

      img {
        max-width: 60px;
      }
    }

    .name {
      margin-top: 7px;
    }
  }

  .price {
    font-size: 13px;
  }
}

.site-search {
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 0px solid #fff;
    background: #fff;
    font-weight: normal;
    color: #090909;
  }
}


.facet-nav {
  display: inline-block;

}

@media (min-width: @screen-md-min) {
  .plppage .sort-refine-bar, .plppage .pagination-toolbar {
    display: none;

  }

}


.toggle_product_list {

  .toggle-button {
    position: unset;
    float: right;
    display: inline-block;

    input[type="checkbox"] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      display: none;

    }

    .toggle-button__switch {
      position: relative;
      height: 21px;
      flex: 0 0 45px;
      border-radius: 60px;
      border: 1px solid #e8e7e5;
      background-color: #ffffff;
      padding: 5px;
    }

    .toggle-button label .toggle-button__switch.is-checked {
      border-color: #999999;
    }

    .toggle-button__switch:before {
      left: 23px;
      width: -5px;
      content: '\00a0';
      position: absolute;

    }

    .toggle-button__switch:after {
      top: 2px;
      left: 4px;
      border-radius: 30px;
      width: 16px;
      line-height: 15px;
      font-size: 27px;
      color: #fff;
      background-color: #cccccc;
      content: '\00a0';
      position: absolute;
      z-index: 2;

    }

    input[type="checkbox"]:checked:hover ~ label .toggle-button__switch {

      background-color: #a4da7b;
      border-color: #cccccc;


    }
  }


}

.organic_col {
  @media (min-width: @screen-md-min) {
    min-width: 150px;
    padding-left: 15px;
    .toggle_product_list {

      display: inline-block;
      padding-right: 39px;
      padding-top: 7px;
      float: right;
      border: 1px solid #d6d6d6;
      padding-bottom: 3px;
      padding-left: 8px;
      border-radius: 16px;

      .fa-leaf {
        font-size: 14px;
        font-weight: 600;
        color: #6fbb34;

      }

      .label_organic {
        line-height: 0;
        margin-left: 6px;
        margin-right: 5px;
        @media (max-width: 350px) {
          margin-left: 4px;
          margin-right: 4px;

        }
      }


    }


  }
}

.btnicon {
  cursor: pointer;
  color: #fff;
  background: #6fba36;
  border: 1px solid #7cb841;
  border-radius: 50% !important;
  padding: 8px 5px;


}

.display_in {
  display: inline-block;
}


.add_to_cart_form .outOfStock {
  padding: 5px 30px;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  background: #8fdc54;
  border-radius: 16px !important;

}


.nav_filter {
  border: 1px solid #cccccc;
  padding: 7px 0px;

  .sort_responsive {
    font-size: 16px;

    text-align: center;
    @media (max-width: @screen-xs-max) {
      text-align: center;
    }

    i {
      color: #6fbb33;
      font-weight: 500;
    }

    .sort_responsive_input {

      display: none;
      position: absolute;
      position: absolute;

      width: 100%;
      z-index: 5;
      top: 32px;
      left: 50%;
      transform: translateX(-50%);

      .control-label {
        display: none;
      }
    }

  }

  .filter_responsive {

    font-size: 16px;
    display: block;
    @media (max-width: 330px) {
      font-size: 13px
    }

    i {
      color: #6fbb33;
      font-weight: 500;
    }


  }

  .organic_col {
    .fa-leaf {
      font-size: 14px;
      font-weight: 600;
      color: #6fbb34;

    }

    .label_organic {
      line-height: 0;

      margin-left: 6px;
      margin-right: 5px;
      @media (max-width: 350px) {
        margin-left: 4px;
        margin-right: 4px;

      }
    }

    padding: 0;
    border: 0;
    position: relative;

    label {
      margin: 0;

    }

    .toggle_product_list {
      padding-right: 39px;
      padding-top: 0;
      float: none;
      border: 0;
      padding-bottom: 0;
      padding-left: 0;
      border-radius: 0;
      position: relative;

      .toggle-button {
        position: absolute;

        right: 27px;
        top: 1px;

      }
    }
  }


}

.page-search .pagination-bar .pagination,
.page-productGrid .pagination-bar .pagination {
  display: none !important
}

.wishlist_header {
  padding: 10px 0 !important;
  border: 0 !important;

  .addAllCart {
    padding: 0;
    float: right;
    width: 100%;

    .btn {
      color: #fff;
      background: #6fbb34;
      width: 100%
    }

  }

  .removeAll {
    padding: 0;
    float: right;
    width: 100%;
    @media (max-width: @screen-xs-max) {
      margin: 20px 0;
    }

    .btn {

      color: #fff;
      background: #f08b38;
      width: 100%;
    }

  }

  .header_wishlist {
    font-size: 22px;
    color: #6fbb34;
    @media (max-width: @screen-xs-max) {
      text-align: center;
    }
  }


}

.item_wishlist {
  .btnicon {
    cursor: pointer;
    color: #fff !important;
    background-color: #6FBA3A !important;
    border: 1px solid #7cb841 !important;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;

    i {
      font-size: 17px;
      font-weight: 700;
      line-height: 39px;
    }

  }


  .removeWishlistEntry2 {


    font-size: large;
    color: #6fba36;
    @media (max-width: @screen-sm-max) {
      margin-left: 0px;

    }

  }


}

.wishlist {
  @media (max-width: @screen-xs-max) {
    .item__code {
      font-size: 10px
    }

    .item__image {
      padding: 0;
      float: left;
      max-width: 100px;

      img {
        max-width: 85px;
      }
    }

    .item__info {
      display: inline-block;
      max-width: 200px;
      @media (max-width: 350px) {
        max-width: 165px;
      }

    }


    .btnicon {
      width: 40px !important;
      height: 40px !important;
    }
  }

  .fa-times-circle {
    margin-right: 5px;
  }

}

#st-1 .st-btn {
  position: unset !important;

}

.social_popup {
  float: left;
  cursor: pointer;
  color: #5d6365;
  padding: 5px;
  font-size: 16px;
  margin-left: 5px;
  @media (max-width: @screen-md-max) {
    float: none;
    font-size: 12px;
    line-height: 28px;
  }

  i {
    color: @brand-primary;
  }


}

.st-custom-button {
  float: left;
  cursor: pointer;
  color: #5d6365;
  padding: 5px;
  font-size: 16px;
  margin-left: 5px;
  @media (max-width: @screen-md-max) {
    padding-left: 0px;
    margin-left: 0px;
  }

  i {
    color: @brand-primary;
  }


}

.alert-danger, .alert-warning,
.getAccAlertmap {
  margin-top: 26px;
  background: #fecc49;
  padding: 7px;
  border: 1px solid #fecc49;
  color: #000;
  border-radius: 13px;
  font-weight: 600;

  &::before {
    font-family: 'Font Awesome 5 Pro';
    content: '\f071';
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 3px;
    vertical-align: middle;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
}

.alert-info {
  margin-top: 26px;
  background: #cdf1f5;
  padding: 7px;
  border: 1px solid #cdf1f5;
  color: #000;
  border-radius: 13px;
  font-weight: 600;

  &::before {
    font-family: 'Font Awesome 5 Pro';
    content: '\f071';
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 3px;
    vertical-align: middle;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
}


.checkout-paymentmethod {
  .selectPaymentMethodForm {
    padding-top: 20px;
  }

  .control-label {
    text-align: left;
    color: #626262;
    font-size: 18px;

  }

  .container-radio {
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;

    color: #656565;
    font-size: 14px;
    display: block;

    i {
      font-size: 17px;
      margin-right: 5px;
      color: #f08b38;
    }
  }

  /* Hide the browser's default radio button */

  .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;

    border-radius: 50%;
    border: 1px solid #afafaf;
  }

  /* On mouse-over, add a grey background color */

  .container-radio:hover input ~ .checkmark {
    border: 1px solid #ccc;
  }

  /* When the radio button is checked, add a blue background */

  .container-radio input:checked ~ .checkmark {
    border: 1px solid #f08d38;

  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */

  .container-radio input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */

  .container-radio .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f08d38;
  }


}


#cboxLoadedContent {
  width: auto !important;

}


.product__listing .wishlist_icon a.removeWishlistEntry {
  color: #f08b38;
}

.carousel__item--price {
  min-height: 45px;

  .price {
    float: none;
    display: inline-block;
  }

  .scratched {
    height: 25px;
    margin: 0 0 0 5px;
    position: relative;
  }

  .line_dis {
    width: 100%;
    border-bottom: 2px solid #f1a900;
    position: absolute;
    top: 12px;
    left: 0;
  }

}

.checkout-shipping .checkout-indent {
  position: relative;
}

.account-orderdetail {
  @media (max-width: @screen-xs-max) {

    .item__list {
      .item__name {
        font-size: 13px;

      }

      .item__image {
        max-width: 85px;
        float: none;
        margin: 0 auto;

        img {
          max-width: 85px;
        }


      }

    }

    .well-quinary {
      text-align: center;


    }

    .totals {
      font-size: 15px !important;
    }


  }


}

@media (max-width: @screen-xs-max) {
  .well.well-lg .item-value {
    font-size: 14px !important;
  }
}

#selectPaymentMethodForm {
  padding-top: 20px;
}


.noSearch {
  width: 100%;
  max-width: 521px;
}

button {
  cursor: pointer;
}


.fa-hands-heart {
  font-size: 16px;
  margin-right: 6px
}

.item__menu {
  .fa-trash {
    color: #6fbb34;
    font-weight: 600 !important;


  }

}

.content__empty {
  .content {
    h2 {

      text-align: center;
    }

    p {
      display: none;
    }

    ul {
      display: none;
    }

  }


}

.call {
  background: url(../images/call.svg) no-repeat center center;
  width: 23px;
  float: left;
  height: 34px;
  background-size: 70%;
}

.orange {
  width: 100px;
  height: 100px;
  background: url('../images/loader-circle.png');
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  position: absolute;
}

.orange .slice {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 50%;
  opacity: 0;
  background: url('../images/empty-slice.png');
}

.orange .slice:nth-child(1) {
  transform: rotate(36deg);
}

.orange .slice:nth-child(2) {
  transform: rotate(72deg);
}

.orange .slice:nth-child(3) {
  transform: rotate(108deg);
}

.orange .slice:nth-child(4) {
  transform: rotate(144deg);
}

.orange .slice:nth-child(5) {
  transform: rotate(180deg);
}

.orange .slice:nth-child(6) {
  transform: rotate(216deg);
}

.orange .slice:nth-child(7) {
  transform: rotate(252deg);
}

.orange .slice:nth-child(8) {
  transform: rotate(288deg);
}

.orange .slice:nth-child(9) {
  transform: rotate(324deg);
}

.ias-spinner {
  position: relative;
  margin-top: 20px;
  height: 100px;
}

.ias-noneleft,
.ias-spinner,
.ias-trigger {
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

.user {
  background: url(../images/MyAccount.svg) no-repeat center center;
  width: 23px;
  float: left;
  height: 34px;
  background-size: 70%;
}


.shopping-cart {
  background: url(../images/cart.svg) no-repeat center center;
  width: 30px;
  float: left;
  height: 21px;
  background-size: 70%;
}


#countrySelector {
  .help-block {

    bottom: 18px !important;
  }

}

@media (max-width: @screen-xs-max) {
  .pad_t {
    button {
      padding: 9px !important;
      font-size: 10px !important;

    }

  }

  .container-radio {
    font-size: 13px;

  }

}


@media (max-width: 350px) {
  .balance {
    .available {
      font-size: 12px !important;
      margin-left: -10px !important;
    }


  }

}


@media (max-width: @screen-sm-max) {
  .boder_personal_info {

    padding-left: 26px;

    .user {

      position: absolute;
      left: 20px;
      top: 14px;

    }
  }
}

.minicart {
  #cboxClose {
    display: none
  }

  #cboxContent {
    background: #6fbb34;
    color: #fff


  }

}

.addedtocart {
  max-width: 114px;
  opacity: 0.9;
  z-index: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  border: 1px solid #6fbb34;
  background: #6fbb34;
  color: #fff;
  font-size: 13px;
  display: none;
}

.addedtocarterror {
  max-width: 114px;
  opacity: 0.9;
  z-index: 0;
  position: absolute;
  top: -46px;
  right: 0;
  padding: 10px;
  border: 1px solid #f53632;
  background: #f53632;
  color: #fff;
  font-size: 13px;
  display: none;
}

.addedtocartinfo {
  max-width: 114px;
  opacity: 0.9;
  z-index: 0;
  position: absolute;
  right: 0;
  top: -50px;
  padding: 10px;
  border: 1px solid #f9cc4a;
  background: #f9cc4a;
  color: #fff;
  font-size: 13px;
  display: none;
}

.cont_box {
  position: relative;
  min-height: 150px;
  @media (max-width: @screen-md-max) {
    min-height: 170px;
  }
  border-radius: 18px;
  padding: 11px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.23), 0 6px 20px 0 rgba(0, 0, 0, 0.13);
  margin: 12px 9px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.23), 0 6px 20px 0 rgba(0, 0, 0, 0.36)
  }

  .left-side {
    float: left;

    div {
      padding: 15px;
      font-size: 25px;
      color: #f08b38;
      font-weight: 300;
    }

  }

  .right-side {
    display: block;

    .body {
      padding: 10px;
    }

    .headline {
      text-align: left;
      font-size: 14px;
      font-weight: 400;
      color: #000;
      display: inline-block;

      .head_myaccount {
        color: #000;
        font-size: 19px;
        text-transform: uppercase;

      }

      .order_dis {
        margin-top: 5px;
        font-size: 12px;

        .font-title {
          font-size: 13px;
          min-width: 200px;
        }
      }
    }


  }
}

.myaccount_title {
  float: left;
  padding-right: 20px;
}

.myaccount_subtitle {
  text-align: left;
}

.cont_box_wish {
  position: relative;
  border-radius: 18px;
  padding: 11px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.23), 0 6px 20px 0 rgba(0, 0, 0, 0.13);
  margin: 12px 9px;
  min-height: 670px;

  @media (max-width: @screen-md-max) and(min-width: @screen-md-min) {
    min-height: 755px;
  }
  @media (max-width: @screen-sm-max) {
    min-height: 500px;
  }

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.23), 0 6px 20px 0 rgba(0, 0, 0, 0.36)
  }


  .head_wish {
    text-align: left;

    .fa-heart {
      color: #f08b38;
      font-weight: 500;
      margin-right: 10px;
      float: left;
      font-size: 31px;
      line-height: 39px;

    }

    .mywishlist_name {
      display: inline-block;
      font-weight: 500;
      margin-left: 10px;
      font-size: 18px;
    }
  }

  .head_wish_link {
    text-align: right;

    a {
      cursor: pointer;
      font-size: 17px;
      margin-right: 12px;
    }
  }

  .mr_b {
    margin-bottom: 10px;
  }

  .item__image {
    text-align: center;

    img {
      width: 140px;
    }
  }

  .item__info {
    text-align: center;
    font-weight: 600;
  }
}

.site-search {

  .input-group-btn {
    position: absolute;
    right: 0;
    font-size: 0;
    white-space: nowrap;


  }

}


.product-grid-left-refinements-slot {
  @media (max-width: @screen-md-max) {
    .btn {
      padding: 10px 7px;
    }

    .filter-option {
      font-size: 9px !important;
    }

  }

}

.login_label_remmber {
  margin-left: 21px;
  padding-left: 14px;
  min-height: 18px;
  color: #6f6f6f;
  text-transform: capitalize;
  font-size: 13px;
  display: block;
  max-width: 100%;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  line-height: 12px;
  margin-bottom: 20px;

  #_spring_security_remember_me {
    margin-left: -17px;

    &:before {
      font-size: 19px;
    }


  }

}

.default_Add {
  background: #f1f1f1;
  padding: 10px 15px;
  margin-bottom: 23px;
  font-weight: 500;

}

.Add_select-cont {
  margin-left: 0;

  .select_add {
    .form-group {
      margin-left: -10px;
      margin-top: 15px;
    }


  }
}

#selectTimeSlotForm {
  padding-top: 40px;

  .control-label {
    display: none;
  }

  .mar_top {
    margin-top: 20px
  }

}


#selectStoreCreditForm {
  position: relative;

  .balance {
    position: absolute;
    top: 35px;
    right: 30px;
    border: 1px solid #e2e2e2;
    padding: 15px;
    padding-bottom: 35px;
    border-radius: 15px;

    .available {
      display: inherit;
      padding-bottom: 4px;
      font-size: 15px;
      color: #6ebb33;
      text-align: center;

    }

    @media (max-width: @screen-md-max) {
      position: unset;

    }

    .aed {
      display: block;
      text-align: center;
      font-size: 18px;
      color: #6ebb33;
      font-weight: 700;
      padding-bottom: 4px;
    }

    .smile {
      width: 73px;
      height: 47px;
      display: block;
      position: absolute;
      left: 35%;
      @media (max-width: @screen-md-max) {
        left: 44%;

      }
      @media (max-width: @screen-sm-max) {
        left: 40%;

      }
      @media (max-width: @screen-xs-max) {
        left: 37%;

      }
    }

  }
}


#storeCreditSubmit {
  width: 33%;
  padding: 6px !important;
  margin-top: 0;
  min-width: 150px;
}

#placeOrder {
  width: 33%;
  padding: 6px !important;
  margin-top: 0;
  background: #6fbb34;
  border-color: #6fbb34;
  min-width: 150px;
}

#paymentMethodSubmit {
  width: 33%;
  padding: 6px !important;
  margin-top: 25px;
  background: #6fbb34;
  border-color: #6fbb34;
  min-width: 150px;
}

.step-body {
  margin-bottom: 20px;

}

#timeSlotSubmit {
  width: 33%;
  padding: 6px !important;
  margin-top: 0;
  min-width: 150px;
  margin-left: 20px;
  background: #6fbb34;
  border-color: #6fbb34;
}

#deliveryModeSubmit {
  width: 33%;
  padding: 6px !important;
  margin-top: 0;
  min-width: 150px;
  margin-left: 20px;
  background: #6fbb34;
  border-color: #6fbb34;
}


#addressSubmit {
  width: 33%;
  padding: 6px !important;
  margin-top: 0;
  min-width: 150px;

  background: #6fbb34;
  border-color: #6fbb34;
}


.addcart_pdp {

  .addedtocart, .addedtocarterror, .addedtocartinfo {
    position: unset;
    @media (max-width: @screen-xs-max) {
      margin-top: 15px
    }
  }


}


.cart_header_component {
  position: absolute;
  z-index: 1003;
  padding: 30px;
  background-color: #fff;

  right: 15px;
  width: 339px;
  border: 1px solid #ccc;
  overflow: hidden;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.54), 0 6px 20px 0 rgba(0, 0, 0, 0.28);

  @media (max-width: @screen-sm-max) {
    right: 10px;
  }
  @media (max-width: @screen-xs-max) {
    width: 300px;
  }
  @media (max-width: 350px) {
    width: 265px;
  }

  .head_cart_component {
    h3 {
      float: left;
      margin: 0;
      font-weight: 600;

    }

    i {
      float: right;
      margin-top: 2px;
      font-size: 23px;
      cursor: pointer;
    }


  }

  .main_cart_component {

    margin-top: 40px
  }

}


.Add_cart_icon {
  background: url(../images/add_cart_green.svg) no-repeat center center;
  width: 30px;
  float: left;
  height: 24px;
  background-size: 85%;
}

.product__listing .Add_cart_icon {

  background: url(../images/add_cart_green.svg) no-repeat center center;
  width: 30px;
  float: left;
  height: 24px;
  background-size: 85%;
}


.cart_header_component_sti {
  @media (min-width: @screen-md-min) {
    position: fixed;
    top: 83px;
  }
}


.link_box_cont {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;


}


.unitofmeasure {

  display: inline;
  color: #f3a900;
}


.js-cartItemDetailGroup {
  .dropdown-menu-right {
    display: none;
  }
}

.card_checkout {
  border: 1px solid #ccc;
  border-top: 0px;
  @media (max-width: @screen-xs-max) {
    padding: 7px
  }
}

.comm_nav {
  padding-left: 0;
  padding-right: 0;

}

.main_zoom img {
  max-width: none !important;
  max-height: none !important;
}

.js-mainHeader {
  position: relative
}

.account-cards {

  strong {
    font-weight: 700;
  }
}

.links_com_myC {
  li {
    a {
      font-size: 11px !important
    }
  }

  @media (min-width: @screen-lg-min) {
    li {
      a {
        font-size: 14px !important
      }
    }

    .label_mini_cart {
      font-size: 14px !important
    }

  }
}


@media (min-width: @screen-md-min) {
  .liOffcanvas_logout {
    list-style: none;
    display: inline-block;

    padding: 3px;
    margin-right: 5px;
    position: relative;

    a {
      color: #000;
      font-weight: 600;
      padding-left: 3px;

      i {
        font-size: 18px;
        color: #6fbb33;
        font-weight: 500;
        position: absolute;
        top: 4px;
        left: -18px;

      }


    }
  }

}


@media (min-width: @screen-md-min) {
  .logout_mobile {
    display: none;
  }
}

.nav_account {

  @media (max-width: @screen-sm-max) {

    display: block;
    .personal_info {
      width: auto !important;
      font-weight: 600 !important;
    }

    .logout_mobile {
      display: inline-block !important;
      width: auto !important;
      position: relative !important;
      font-weight: 600 !important;
      padding: 20px 20px 20px 24px !important;

      i {
        font-size: 16px;
        position: absolute;
        left: 0;
        top: 22px;
        color: #6fbb34;

      }

    }

  }
}


.account-section-content .top {
  display: none !important
}

.account-section .bottom.pagination-bar {
  display: block !important
}

.account-section {
  .sort_responsive, .organic_col {
    display: none
  }

  .nav_filter {
    border: none;
    padding: 7px 0px;
  }
}


.pagination-bar .pagination {
  border: none !important;
}

.owl-theme .owl-nav {
  height: 0;
  margin-top: 0px;

  .owl-prev {
    position: absolute;
    left: 0;
    top: 50%;

    &:hover {
      color: #9e9e9e !important;

    }

    @media (max-width: 450px) {
      top: 50%;
      top: 27%;
      margin: 0

    }
  }

  .owl-next {
    position: absolute;
    right: 0;
    top: 50%;

    &:hover {
      color: #9e9e9e !important;

    }

    @media (max-width: 450px) {
      top: 50%;
      top: 27%;
      margin: 0

    }

  }

  .owl-dots {
    .owl-dot {
      span {

        background: #c3c3c3 !important;
      }

      &:hover {
        span {
          background: #c3c3c3 !important;
        }
      }
    }
  }

}


.btn_checkout_page {
  text-transform: uppercase;
  font-weight: 600;
  padding: 13px 16px;
  font-size: 14px;
  line-height: 1.375;
  background-color: #6fbb34;
  border-color: #6fbb34;
  color: #fff;
  border-radius: 16px;

  &:hover {

    background-color: #4c8e19;
    border-color: #4c8e19;
    color: #fff;
  }

}

.img_checkout_page {
  max-width: 400px;
  width: 100%;
  margin-bottom: 25px;
}

.link_back_headline {
  color: #000;

  position: relative;

  .fa-chevron-left {
    position: absolute;
    top: 0;
  }
}

.back-link .label {

  font-size: 24px;
  line-height: 37px;

  padding: 20px 0 20px;

  padding-left: 29px;
}


.responsive-table-link {
  text-decoration: underline;
  color: #f08b38 !important;

}

.Applied {

  @media (min-width: @screen-md-min) {
    padding: 20px !important;
  }

  &:last-child {
    margin: 0;
  }

  .facet__name {
    @media (min-width: @screen-md-min) {
      font-size: 14px;
      color: #153a59 !important;
      float: left;
      font-weight: 600 !important;

      line-height: 32px
    }
  }

  .facet__list {
    .list-unstyled;
    margin: 0 !important;


    li {

      display: inline-block;

      padding: 7px 11px !important;

      background: #e4e4e4a1;
      border-radius: 18px;
      margin-left: 16px;
      cursor: pointer;
      font-size: 13px;
      @media (max-width: @screen-sm-max) {
        display: block;
        padding: 7px 11px !important;
        background: #e4e4e4a1;
        border-radius: 18px;
        /* margin-left: 0; */
        cursor: pointer;
        font-size: 13px;
        margin: 10px 0;
        width: 50%;
      }

      a {
        font-size: 15px;
        padding-left: 8px;
        color: #888;
        @media (max-width: @screen-sm-max) {
          float: right;
        }
      }
    }

  }
}

.serach_map {
  margin: 10px 0;

  .input_search {
    padding: 0;
  }
}

.geo_place {
  margin-bottom: 15px;
  text-align: center;
  padding: 0;

  #geo {
    cursor: pointer;
    color: #666;
    background: #ffffff;
    border: 1px solid #ffffff;
    width: 42px;
    height: 42px;
    position: relative;
    display: block;
    box-shadow: 0px 0px 3px 2px #cccccc59;

    i {
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 500;
      color: #666;
    }
  }
}

#outside, #block_geo {
  display: none;
}

#us2 {
  width: 100%;
  height: 300px;
}


.is-sticky .breadcrumb-section {
  display: none
}

#AddNewAdd {
  padding: 8px 8px;
  font-size: 15px;
  outline: none;
  display: block;
  margin-top: 15px;
  color: #fff;
  background: #6fba36;

  i {
    margin-right: 5px;
  }

  @media (max-width: @screen-sm-max) {

    margin-top: 0px;
  }
}

.mini-cart-link {
  &[disabled] {
    background-color: #8fbb36;
    border-color: #8fbb36;

    &:hover {
      background-color: #8fbb36;
      border-color: #8fbb36;
    }
  }
}

.mar_top textarea {
  width: 100%
}

.deliveryAddress {
  .right-side {
    display: block;

    .headline {
      display: block;

      .left-side div {
        padding: 0 15px;
      }
    }

    .myaccount_subtitle {
      text-align: left
    }

    .myaccount_title {
      padding-right: 17px;
      font-weight: 600;
    }
  }
}

.pad_0 {
  padding: 0;
}

.form-group {
  input::placeholder {
    color: #999 !important;
  }
}

.js-submit-remove-product-mini-cart {
  padding: 0;
  border: none;
  position: absolute;
  outline: none;
  background: none;
  top: 0;
  right: 3px;
  font-size: 19px;
  color: #8fbb34;
}

@media (min-width: @screen-md-min) {
  #loginForm {
    min-height: 300px
  }
}

#scAmount {
  width: auto !important;
}

.qty_pdp {
  .btnqty {
    padding: 0 4px !important;
    border: none;
    background: #f2f2f3;
    margin: 0 4px;
    outline: none;

  }
}

.sticky_nav_right {
  padding-top: 10px;
}

.is-sticky .head {
  border: none
}

.is-sticky .set_account_div {
  height: 0;

  .login_box {
    right: 38px;
    top: 0;
  }
}

.is-sticky .center_text_head .yCmsContentSlot,
.is-sticky .comm_nav .tel,
.is-sticky .comm_nav .content_share {
  display: none
}

.is-sticky .set_account_div .top-links .lang,
.is-sticky .set_account_div .top-links .login_action {
  display: none
}

.is-sticky .liOffcanvas_logout {
  display: none;
}

.is-sticky .loginaccount {
  display: none;
}

.is-sticky .popup_social {
  top: 0
}

.search-results-highlight {
  font-style: normal;
  text-decoration: underline;
  font-weight: 800;
}


div#countrySelector {
  display: none;
}

.is-sticky ~ .main__inner-wrapper {
  @media (min-width: @screen-md-min) {
    min-height: 500px;
    padding-top: 160px
  }

  @media (max-width: @screen-sm-max) {
    min-height: 500px;
    padding-top: 0px
  }

}

.language-ar .geo_place #geo {
  padding: 6px 12px;

  i {
    font-size: 14px;
  }
}


.preloader {

  width: 20px;
  height: 20px;
  position: absolute;
  animation: rotatePreloader 5s infinite ease-in;
  margin-top: 15px;
  display: none;
}

@keyframes rotatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}

.preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.preloader div:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0%;
  width: 10%;
  height: 10%;
  background-color: #6fbb34;
  transform: translateX(-50%);
  border-radius: 50%;
}

.preloader div:nth-child(1) {
  transform: rotateZ(0deg);
  animation: rotateCircle1 2s infinite linear;
  z-index: 9;
}

@keyframes rotateCircle1 {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 1;
    transform: rotateZ(36deg);
  }
  7% {
    transform: rotateZ(0deg);
  }
  57% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(2) {
  transform: rotateZ(36deg);
  animation: rotateCircle2 2s infinite linear;
  z-index: 8;
}

@keyframes rotateCircle2 {
  5% {
    opacity: 0;
  }
  5.0001% {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  12% {
    transform: rotateZ(-36deg);
  }
  62% {
    transform: rotateZ(-36deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(3) {
  transform: rotateZ(72deg);
  animation: rotateCircle3 2s infinite linear;
  z-index: 7;
}

@keyframes rotateCircle3 {
  10% {
    opacity: 0;
  }
  10.0002% {
    opacity: 1;
    transform: rotateZ(-36deg);
  }
  17% {
    transform: rotateZ(-72deg);
  }
  67% {
    transform: rotateZ(-72deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(4) {
  transform: rotateZ(108deg);
  animation: rotateCircle4 2s infinite linear;
  z-index: 6;
}

@keyframes rotateCircle4 {
  15% {
    opacity: 0;
  }
  15.0003% {
    opacity: 1;
    transform: rotateZ(-72deg);
  }
  22% {
    transform: rotateZ(-108deg);
  }
  72% {
    transform: rotateZ(-108deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(5) {
  transform: rotateZ(144deg);
  animation: rotateCircle5 2s infinite linear;
  z-index: 5;
}

@keyframes rotateCircle5 {
  20% {
    opacity: 0;
  }
  20.0004% {
    opacity: 1;
    transform: rotateZ(-108deg);
  }
  27% {
    transform: rotateZ(-144deg);
  }
  77% {
    transform: rotateZ(-144deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(6) {
  transform: rotateZ(180deg);
  animation: rotateCircle6 2s infinite linear;
  z-index: 4;
}

@keyframes rotateCircle6 {
  25% {
    opacity: 0;
  }
  25.0005% {
    opacity: 1;
    transform: rotateZ(-144deg);
  }
  32% {
    transform: rotateZ(-180deg);
  }
  82% {
    transform: rotateZ(-180deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(7) {
  transform: rotateZ(216deg);
  animation: rotateCircle7 2s infinite linear;
  z-index: 3;
}

@keyframes rotateCircle7 {
  30% {
    opacity: 0;
  }
  30.0006% {
    opacity: 1;
    transform: rotateZ(-180deg);
  }
  37% {
    transform: rotateZ(-216deg);
  }
  87% {
    transform: rotateZ(-216deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(8) {
  transform: rotateZ(252deg);
  animation: rotateCircle8 2s infinite linear;
  z-index: 2;
}

@keyframes rotateCircle8 {
  35% {
    opacity: 0;
  }
  35.0007% {
    opacity: 1;
    transform: rotateZ(-216deg);
  }
  42% {
    transform: rotateZ(-252deg);
  }
  92% {
    transform: rotateZ(-252deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(9) {
  transform: rotateZ(288deg);
  animation: rotateCircle9 2s infinite linear;
  z-index: 1;
}

@keyframes rotateCircle9 {
  40% {
    opacity: 0;
  }
  40.0008% {
    opacity: 1;
    transform: rotateZ(-252deg);
  }
  47% {
    transform: rotateZ(-288deg);
  }
  97% {
    transform: rotateZ(-288deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(10) {
  transform: rotateZ(324deg);
  animation: rotateCircle10 2s infinite linear;
  z-index: 0;
}

@keyframes rotateCircle10 {
  45% {
    opacity: 0;
  }
  45.0009% {
    opacity: 1;
    transform: rotateZ(-288deg);
  }
  52% {
    transform: rotateZ(-324deg);
  }
  102% {
    transform: rotateZ(-324deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.cont_box_loading {
  position: relative;
  width: 30px;
  height: 30px;
}


.wishlist {
  @media (min-width: @screen-md-min) {
    .addtocart-component {
      float: right;
      margin: 0 15px;

    }

    .remove-wishlist-entry-for-product {
      padding: 0;
      border: 0;
      background: #fff;
      font-size: 28px;
      width: 0;
      outline: none;

      span {
        font-size: 25px
      }
    }

  }
}

.wishlist .add_to_cart_form .btn {
  @media (max-width: @screen-sm-max) {
    width: 40px !important;
    height: 40px !important;
    .Add_cart_icon {
      margin-top: 2px;
      margin-left: 4px;
    }
  }
}

.wishlist .item__list .item__remove .btn {

  @media (max-width: @screen-sm-max) {


    width: 40px;
    height: auto;
    float: left;
  }
}

button.btn.btnicon.js-enable-btn:hover {
  opacity: 0.9;
}

.remmber_me {
  display: inline;
  margin-left: 9px;
  margin-right: 18px;
  margin-top: 3px;
  float: left;
}


.lang_mobile {
  position: absolute;
  right: 80px;
  top: 0;
  line-height: 55px;
  padding-right: 10px;
  z-index: 99;
  @media (max-width: 639px) and (min-width: 445px) {
    right: 120px;
  }
}

.language-ar .lang_mobile {
  line-height: 60px;
}

.logout_account_mobile {
  position: relative;
  margin-left: 20px;

  a {
    cursor: pointer;
    color: #000;
    margin-left: 2px;
    font-weight: 600;
  }

  i {
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 21px;
    color: #6fbb34;
    font-weight: 500;
  }
}


.Community_page_mobile {
  position: relative;
  height: 70px;

  a {
    width: 189px !important;
    margin-top: 11px !important;
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px !important;
    color: #ffffff !important;
    font-size: 16px !important;
  }
}

@media (min-width: @screen-md-min) {
  #js-cookie-notification {
    padding-left: 24px;
    padding-right: 26px;
  }

  .logo_img {
    padding-left: 0px;
  }

  .nav_btn {
    padding-right: 7px;
  }
}

.whats_app_icon {
  line-height: 32px;
  float: left;
  padding-right: 5px;
  color: #6fbb34;
  font-size: 22px;
  padding-left: 5px;

  &:hover, &:focus {
    color: #6fbb34;
  }
}

@media (max-width: 1040px) {
  .social_popup {
    font-size: 11px
  }
}

.whats_app_icon {

  line-height: 34px;
  float: left;
  padding-right: 5px;
  color: #6fbb34;
  font-size: 18px;
  padding-left: 5px;

  &:hover, &:focus {
    color: #6fbb34;
  }

  @media (max-width: @screen-md-max) {
    padding-right: 10px;
    font-size: 15px;
  }
  @media (max-width: 1150px) {
    padding-right: 4px;
    padding-left: 3px;
  }

  i {
    font-weight: 600;
  }
}


.tel {
  @media (max-width: 1150px) {
    padding: 0px;
    margin-left: -10px
  }

  @media (max-width: @screen-sm-max) {
    padding-left: 52px !important;
    position: relative;
    i {
      font-size: 16px;
      color: #68bb34;
      font-weight: 600;
      position: absolute;
      left: 26px;
      top: 12px;

    }
  }


}

.whats_app_icon {
  @media (max-width: @screen-sm-max) {
    color: #787d83;
    font-weight: 600;

    i {
      color: #68bb34;
      font-size: 18px;
      margin-right: 5px;


    }


  }

}

.promo_label {
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  min-width: 40px;
  min-height: 40px;
  padding: 26px 0;
  z-index: 2;
  background: #d81826;
  text-align: center;
  position: unset;
  right: 17%;
  top: -8%;
  @media (max-width: 639px) {
    top: -31px;
    width: 55px;
    height: 55px;
    right: 12%;
    font-size: 14px;
    line-height: 55px;
  }
}

.is-sticky .whats_app_icon {
  display: none;
}

.set_value_carousel {
  display: none;
}


.promo_label {
  position: unset;
  right: 13%;
  top: 4%;
  display: block;
  background: #dd1423;
  padding: 0px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  min-width: 40px;
  min-height: 40px;
  line-height: 60px;
  z-index: 4;
}

.cont_gallary_img {
  position: relative;

  .promo_label {
    position: unset;
    right: 13%;
    top: 15%;
    display: block;
    background: #dd1423;
    padding: 0px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    min-width: 40px;
    min-height: 40px;
    line-height: 60px;
    z-index: 15;
    @media (max-width: @screen-xs-max) {
      line-height: 55px;
      width: 55px;
      height: 55px;
    }
  }
}

.dropdown-menu .hideinpopup {
  display: none !important;
}


.cont_map {
  position: relative;

  .geo_place {
    text-align: left;

    z-index: 1;
    left: 8px;
    position: absolute;
    width: 41px;
    top: 10px;
    height: 41px;
  }

}

.tools-style {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 7px 3px;
  background: #fff;
  color: #6d6d6d;

  i {
    color: #ea4334;
    margin-right: 5px;
    font-size: 17px;

  }

}

#outside {
  margin-top: 5px;

}

.address_line_hid .form-group {
  margin-bottom: 5px !important;
}


.language-ar {

  .geo_place {
    text-align: right;
    z-index: 1;
    right: 8px !important;
    left: unset !important;
    position: absolute;
    width: 41px;
    top: 10px;
    height: 41px;

  }
}


.countrypicker {
  pointer-events: none !important;

  .btn-select {
    pointer-events: none !important;

  }
}

.cart-voucher {
  @media (max-width: @screen-xs-max) {
    margin-left: 0px !important;
    padding: 0 20px ;
  }
}

.toggle_facet {

  @media (min-width: @screen-md-min) {

    padding: 0px !important;
    .facet__list {
      margin: 0px !important;

      li {
        padding: 0 !important;

        .toggle_product_list {
          display: inline-block;
          padding-right: 39px;
          padding-top: 7px;
          float: right;
          border: 1px solid #d6d6d6;
          padding-bottom: 7px;
          padding-left: 8px;
          border-radius: 16px;
          margin: 0 2px;

          label {
            display: flex !important;

            .label_organic {
              padding: 0 3px;
              font-size: 11px;
            }

          }


        }

      }

    }


  }

}

.Organic i {
  font-weight: 600;
  color: #6fbb34;
}

.GlutenFree {
  i {
    background: url(../images/Gluten_Free_filter_icon.svg) no-repeat center center;
    background-size: 20px;
    color: transparent;
    min-width: 23px;
    min-height: 20px;
  }

}

.Vegan {
  i {
    background: url(../images/Vegan_filter_icon.svg) no-repeat center center;
    background-size: 20px;
    color: transparent;
    min-width: 23px;
    min-height: 20px;
  }

}


.GlutenFree {
  .toggle_product_list {
    padding-right: 4px !important;
    min-width: 180px;
    float: none !important;
    padding-top: 4px !important;

    .toggle-button {
      float: none;
      width: 100%;


    }

  }
}

.filter_responsive {
  @media (max-width: @screen-sm-max) {
    text-align: center;
  }
}


.code_summary {

  font-size: 14px;
  color: #969696

}

.pos_label_filter {

  margin-left: 0px !important;

}

.pos_label_filter + .pos_label_filter {

  margin-left: 10px;


}

.pos_label_filter + .pos_label_filter + .pos_label_filter {

  margin-left: 10px;


}


.pos_label_filter.glutenFree {
  .eco_position {
    display: inline-block;
    line-height: 12px;

    i {
      font-size: 0px;
      right: 18px;
      bottom: 6px;
      background: url(../images/Gluten_Free_filter_icon-svg.svg) no-repeat center center;
      background-size: 20px;
      color: transparent;
      min-width: 23px;
      min-height: 20px;

    }
  }

}

.pos_label_filter.vegan {
  .eco_position {


    i {
      font-size: 0px;
      right: 18px;
      bottom: 6px;
      background: url(../images/Vegan_filter_icon-svg.svg) no-repeat center center;
      background-size: 20px;
      color: transparent;
      min-width: 23px;
      min-height: 20px;

    }
  }

}


.OTPlogin {

  background-color: #f08b38 !important;
  border-color: #f08b38 !important;

  &:hover {
    background-color: #efba33 !important;
    border-color: #efba33 !important;
  }

  margin-bottom: 20px;
  font-weight: 600 !important;
  color: #fff !important;

  &:hover {
    color: #fff !important;
  }

}

.darkback_confirm {
  display: none;
  position: fixed;
  z-index: 52;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.19);
}

.confirm_log {
  display: none;
  position: fixed;
  top: 50%;
  padding: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f8f8f8;
  min-width: 400px;

  z-index: 55;
  border: 1px solid #ccc;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.54), 0 6px 20px 0 rgba(0, 0, 0, 0.28);
  @media (max-width: @screen-xs-max) {
    min-width: 300px;
  }

  .header {
    font-size: 21px;
    margin: 15px 0;
    margin-top: 0;


    .title {
      display: inline-block;
    }

    .close_confirm {
      position: absolute;
      right: 16px;

      cursor: pointer;
    }
  }

  .cont_confirm_cart {
    margin-bottom: 15px;
  }

}

li.Community_page {


  @media (min-width: @screen-md-min) {

    a {
      padding-bottom: 12px !important;
      padding-top: 12px !important;
    }
  }

  @media (min-width: @screen-lg-min) {
    a {
      padding-top: 10px !important;
    }
  }

}


.nav__links.nav__links--products {

  li:nth-child(8) {
    .cat_name {
      @media (max-width: @screen-sm-max) {

        line-height: 55px !important;

      }
    }
  }

}


.is-sticky.disable_sticky {
  display: none !important
}


.not_allow_a {
  cursor: not-allowed !important;
}

.js-enable-btn {


  outline: none !important

}

.support_visa {
  text-align: center;
}

.social .simple-banner img {
  @media (max-width: @screen-sm-max) {
    max-width: 150px;
  }
}

.notestreetName {
  position: relative;
  padding-left: 13px;
  text-transform: capitalize;

  display: block;
  margin-top: -17px;
  margin-bottom: 10px;
  color: #767676;

  i {
    position: absolute;
    left: 0;
    top: 3px;
    padding-top: 0;
    font-size: 7px;
    padding: 4px

  }

}

.form-group.has-error + .notestreetName {
  margin-top: -5px;
}

.newformaddress {
  .notestreetName {
    font-size: 12px;

    i {
      top: 3px;
      font-size: 6px;

    }
  }


}


.cont_popup {

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999999;
  width: 63%;
  transform: translate(-50%, -50%);
  height: 72%;
  background: transparent;
  padding: 11px;
  @media (max-width: @screen-md-max) {
    width: 64%;
    height: 35%;
  }


  @media (max-width: @screen-sm-max) {
    width: 64%;
    height: 35%;
  }
  @media (max-width: @screen-xs-max) {
    width: 95%;
    height: 39%;
  }

  @media (min-width: @screen-md-min) {
    min-height: 400px;
  }

  .close_popup {
    position: absolute;
    right: 4px;
    top: 3px;
    padding: 0px 6px;
    background: red;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    z-index: 10;
  }

  .main_popup {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    background: transparent;
    width: 100%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

  }


}

.overlay_popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  z-index: 999;
  opacity: 0.6;
  cursor: pointer;
  visibility: visible;

}

#video-placeholder {
  width: 100% !important;
  height: 100% !important;
}

.referralDiv {

  text-align: center;


  .referralCode {

    background: transparent;
    padding: 5px 60px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 10px;
    color: #414c50;

  }

  .referralBtn {

    font-size: 16px;
    cursor: pointer;
    position: relative;
    z-index: 5;
  }

}


.pageLabel--my-account-referral-code {

  .main__inner-wrapper {
    .account-section-content {
      padding-top: 30px;
    }

    @media (min-width: @screen-md-min) {
      margin: 0 auto;
      max-width: 1320px;
      .account-section {
        width: auto;
      }

    }


    .green_color {

      color: #6fbb34;
      font-weight: 600;

    }
  }


}


.ReferralPage {
  @media (min-width: @screen-md-min) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  .boxreferral {
    display: inline-block;

    padding: 10px 30px;
    background: #f5f5f5;
    text-align: center;
    position: relative;

    .refrralTitle {
      display: block;
      font-size: 22px;


    }

    .boxContentCode {


      margin-bottom: 12px;


      .referralCode {
        display: inline-block;
        color: #fef9e8;
        background: #f08b38;
        margin: 14px 0;
        padding: 5px 60px;
        font-size: 22px;
        font-weight: 700;
        border-radius: 10px;
        @media (max-width: @screen-sm-max) {
          padding: 5px 40px;
          font-size: 20px;

        }


      }

      .referralBtn {
        margin-left: 8px;
        padding: 5px;
        font-size: 16px;
        cursor: pointer;
      }


    }
  }


}


.SharesocialMediaBox {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 15;
  display: none;


  .fbBtn {
    padding: 7px 13px;
    background: #4267B2;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    color: #fff;
    display: block;
  }

  .twBtn {
    padding: 7px 10px;
    background: #55acee;
    border-radius: 5px;
    margin: 4px;
    cursor: pointer;
    color: #fff;
    display: block;

  }


  .EmailBtn {
    padding: 7px 10px;
    background: #2f7cb5;
    border-radius: 5px;
    margin: 4px;
    cursor: pointer;
    color: #fff;
    display: block;


    i {
      font-weight: 600;
    }

  }


  .whatsBtn, .whatsBtnWeb {
    padding: 7px 11px;
    background: #25d366;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    color: #fff;
    display: block;
  }
}

.SpaceShareDiv {
  padding-right: 70px !important;
}


.textRresponsive {
  @media (max-width: @screen-sm-max) {
    text-align: center
  }
}


#reorderForm {

  margin: 10px 30px;
  @media (max-width: @screen-sm-max) {
    margin-bottom: 30px;
  }

  p {
    text-align: center;
    font-weight: 600;
    margin-bottom: 16px;
    font-size: 15px;

  }
}

.textRresponsive:empty {
  display: none;
}


.noData {
  font-weight: 600;
  font-size: 16px;
  text-align: center;

}


.tooltip {
  display: inline-block;
  position: relative;
  border-bottom: 1px dotted #666;
  text-align: left;
}


.tooltip .right {
  min-width: 200px;
  max-width: 400px;
  top: 50%;
  left: 100%;
  margin-left: 20px;
  transform: translate(0, -50%);
  padding: 0;
  color: #EEEEEE;
  background-color: #444444;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 5;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
}

.tooltip:hover .right {
  visibility: visible;
  opacity: 1;
}

.tooltip .right img {
  width: 400px;
  border-radius: 8px 8px 0 0;
}

.tooltip .text-content {
  padding: 10px 20px;
}

.tooltip .right i {
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
  overflow: hidden;
}

.tooltip .right i::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(-45deg);
  background-color: #444444;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}


.tooltip .top {
  min-width: 200px;
  max-width: 400px;
  top: -20px;
  left: 50%;
  transform: translate(-75%, -100%);
  color: #EEEEEE;
  background-color: #444444;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  padding: 0px;
  position: absolute;
  z-index: 5;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  display: none;
}

.tooltip:hover .top {
  display: block;
}

.tooltip .top i {
  position: absolute;
  top: 100%;
  left: 75%;
  margin-left: -15px;
  width: 30px;
  height: 15px;
  overflow: hidden;
}

.tooltip .top i::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #444444;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}


.tooltip {
  position: absolute;
  top: 46%;
  right: 20px;
  transform: translateY(-50%);
  padding: 0;
  cursor: pointer;
  opacity: 1 !important;
  z-index: 5 !important;

  i {
    font-size: 14px;
    color: #6fbb34;
  }

}


.descriptionRedferral {
  font-size: 15px;
  margin-top: 7px;
}


.has-error ~ .tooltip {
  top: 33% !important;
}


.InputTagEmail {
  font-size: 17px;
  text-align: center;
  padding: 20px 10px;
  background: #f5a333;
  margin: 0 20px;
  position: absolute;
  min-width: 330px;
  right: 0px;
  z-index: 71;
  bottom: 0px;
  left: 0;
  min-height: 154px;

  box-shadow: 0px 0px 5px #345f0b;

  @media (max-width: @screen-xs-max) {
    margin: 0 10px;
    max-width: 100%;
    min-width: auto;
  }


  button.SendEmails {
    margin-top: 17px;
    background: #7fb140 !important;
    border: #70b62c !important;
    font-size: 13px !important;
    padding: 8px 15px !important;
    float: right;
    margin-left: 15px;
  }

  button.cancelBtn {
    margin-top: 17px;
    background: #f7c256 !important;
    border: #f6aa26 !important;
    font-size: 13px !important;
    padding: 8px 15px !important;
    float: left;
    margin-right: 15px;
  }

}


.labelEmailReferral {
  display: block;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 13px;
}


.errorReferralForm {
  font-weight: 500;
  color: #c53131 !important;
}


.closeIconEmail {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 16px;
  cursor: pointer;

  i {
    font-weight: 500;
    font-size: 16px;
  }

}


#inline-popups {
  a {
    font-size: 18px;
    cursor: pointer;
    position: relative;
    z-index: 5;
    margin-left: 10px;
    color: #19212b;
  }
}


.language-ar .leftSide {
  float: right;

}

.msgsuccess {
  margin-top: 17px;
  display: inline-block;
  font-weight: 400;
  width: 100%;
  background: #ffb44a;
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
}

.conBottomFooterOnSuccess {
  @media (max-width: @screen-xs-max) {
    display: flex;
    align-items: center;

    .msgsuccess {
      font-size: 13px;
    }
  }
}


.ImgwinAndGiveAR {
  display: none;
}


.language-ar {
  .ImgwinAndGiveEN {
    display: none;
  }

  .ImgwinAndGiveAR {
    display: block;
    margin: 15px auto;
  }


}

.ReferralCodeText {
  background: #f3f2f3;
  padding: 5px 60px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 10px;
  margin-left: 10px;
  color: #414c50;

}

.boxContentCode {


}

.textshareLinkPopup {


}


.boxContentCode, .referralDiv {
  .referralCode {
    padding: 0px !important;
  }

  .textshareLinkPopup {
    @media (max-width: @screen-md-max) {
      font-size: 14px
    }
  }

  .ReferralCodeText {
    background: transparent;
    padding: 5px 60px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 10px;
    color: #414c50;
    margin-bottom: 5px;

    @media (max-width: @screen-md-max) {
      font-size: 15px
    }

  }

  #inline-popups a {

    display: flex;
    align-items: center;
    color: #fef9e8;
    background: #f08b38;
    /* margin: 14px 0; */
    padding: 12px 60px !important;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    justify-content: center;


  }

  i {
    padding-left: 10px;
  }


}

#product-facet > .col-md-2 {
  max-width: 200px;
}


.filterSection {
  @media (min-width: @screen-md-min) {
    display: flex;
    align-items: center;
  }
}

.sub__navigation.js_sub__navigation {

  a.webwidth {
    display: none !important;
  }

  @media (max-width: @screen-sm-max) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0 !important;
    width: 100%;
    padding: 0;
    z-index: 2;
    background: #fff;

  }
}

.sub-navigation-list {
  @media (min-width: @screen-md-min) {

    margin-left: 15px;
    .yCmsComponent.nav__link--secondary {
      margin: 5px 0 !important;
      float: left !important;
      text-align: left !important;
    }
  }
}

.yCmsContentSlot.checkout-login-right-content-slot, .yCmsContentSlot.checkout-login-left-content-slot {
  border: 1px solid #d3d3d3;
  padding: 20px;
  @media (min-width: @screen-md-min) {
    max-width: 80%;
    margin: 0 auto;
    min-height: 419px;
  }
  border-radius: 10px;
  @media (max-width: @screen-sm-max) {
    margin-bottom: 20px;
    max-width: 100%;
  }
}

.checkout-login-right-content-component .headline {
  color: #465257;
  font-size: 24px;
  line-height: 35px;
  padding: 20px 0;
  margin: 0;
  text-align: center;
}

.referralCode {
  .cont_box_wish {
    min-height: 844px;

    @media (max-width: @screen-md-max) and(min-width: @screen-md-min) {
      min-height: 945px;
    }

  }
}

.set_account_div {
  .top-links {
    display: flex;
    align-items: center;
  }

}

.d-flex {
  display: flex;
  align-items: center;
}

.page-checkout-login .checkout-login .col-md-6 {
  width: 100%;
  margin: 0 auto;
}

.page-checkout-login .checkout-login .col-md-6 + .col-md-6 .checkout-login-right-content-slot {
  border: none;
}

.page-checkout-login .yCmsContentSlot.checkout-login-left-content-slot {
  max-width: 600px;
}


.msg-express {
  text-align: center;
  padding: 20px 0 10px;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 600;
  background: #92d050;


}

.express-btn {
  max-width: 120px;
  margin: 20px auto 10px !important;


}


.manageSavedCard {
  @media (max-width: @screen-xs-max) {
    .email-cards {
      overflow-y: auto;
    }

    .delete-card {
      text-align: center;
      width: 100%;
    }
  }
}


.ACard {
  .cont_box_wish {

    @media (min-width: @screen-md-min) {
      min-height: 1310px;
    }

    @media (min-width: @screen-lg-min) {
      min-height: 1196px;
    }

  }


}

.totalResults {
  text-align: center;
  font-size: 17px;
  font-weight: 600;

}


.product-details .expressdelivery,
.item__info .expressdelivery,
.checkout-order-summary-list-items .expressdelivery {
  display: block;
  margin: 10px 0 0;
  position: relative;
  transform: none;
  clear: both;
  padding-left: 15px;
}

span.expressdelivery {
  display: block;
  float: left;
  margin-top: 5px;
}

span.expressdelivery img {
  width: 140px !important;
}

.item__info {
  span.expressdelivery img {
    width: 100px !important;
  }
}

@media (min-width: @screen-md-min) {
  .nav__links.nav__links--products {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .cat_sub {
      display: block;
      font-size: 10px;
    }

  }
}


.checkout-order-summary-list-items {
  span.expressdelivery img {
    width: 100px !important;
  }
}


.page-productGrid {
  .product-grid-section1-component {
    .headline {
      h1 {
        font-weight: bold;
        font-size: 16px !important;
      }
    }

  }


}

.cartData {

  padding: 0 5px 10px;
  border-radius: 5px;

  margin-bottom: 20px;

  h5 {
    font-size: 15px;
    font-weight: 600;
    margin: 5px 0;
    padding: 0;
    line-height: 20px;
  }
}


.page-cartPage {
  .pickUpInCart {


    .container {
      display: flex;

      width: auto !important;
      position: relative;
      padding: 10px;
      padding-left: 65px;
      cursor: pointer;
      font-size: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      color: #000;
      user-select: none;
      min-height: 63px;
      align-items: center;
      background: #ECECEC;
      margin: 10px 0 !important;
      border-radius: 12px;
    }


    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    /* Create a custom radio button */

    .checkmark {
      position: absolute;
      top: 50%;
      left: 27px;
      height: 30px;
      width: 30px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #707070;
      transform: translateY(-50%);
    }

    /* On mouse-over, add a grey background color */

    .container:hover input ~ .checkmark {
      border-color: #8a8989;

    }

    /* When the radio button is checked, add a blue background */

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .container input:checked ~ .checkmark {
      background-color: #fff;

    }

    /* Create the indicator (the dot/circle - hidden when not checked) */


    /* Show the indicator (dot/circle) when checked */

    .container input:checked ~ .checkmark:after {

      &:hover {
        background: #17b907 !important;
      }
    }

    /* Style the indicator (dot/circle) */

    .container .checkmark:after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) !important;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #0F9900;


    }

    .container input:checked ~ .checkmark:after {

      display: block;
      content: '\2714';
      font-size: 24px;
      padding-bottom: 0;
      padding-left: 3px;
      background-color: #0F9900;
      border-color: #0F9900;
      color: #fff;

    }
  }
}

.pickUpInCart {

  .massage-div-pickup {
    margin: 0;
    font-size: 13px;
  }

  .icon-header-pickup {
    color: #7E99AA;
    font-size: 22px;
    padding-right: 22px;

  }

  .content-check {
    display: flex;
    align-items: center;
    padding-left: 19px;
  }

  .header-div-pickup {
    font-size: 16px;
    font-weight: bold;
    color: #000;
  }

}

.page-cartPage .pickUpInCart .container input:checked ~ .checkmark:after {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  content: "\f00c";
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  padding: 0;
}

.checkout-steps .prevCurrent:before {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  content: "\f00c";
  font-size: 16px
}

.itemPickup, .item__list.item__list__cart .item__delivery {
  display: none;
}

.footer__nav--container {
  .title {

    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }

}

.recycle {
  background: #eafbe8;
  color: #76cc2f;
  padding: 20px 20px;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  border-radius: 10px;
}

.recycle i {
  font-size: 32px;
  color: #fff;
  padding: 15px;
  background: #6fbb34;
  border-radius: 10px;
  margin-bottom: 7px;
}

.activeR {
  background: #cdf1f5 !important;

  .icon-header-pickup {
    color: #000;
  }

  .header-div-pickup, .massage-div-pickup {
    color: #000;
  }

}


.nav-bottom {

  height: 60px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  z-index: 40;
  display: flex;
  box-shadow: rgba(0, 0, 0, .1) 0px -1px 8px;
  -webkit-tap-highlight-color: transparent;

  .cart-item-icon {
    position: relative;

    .number-of-item-cart {
      position: absolute;
      right: 0;
      background-color: black;
      border-radius: 50%;
      padding: 0px 4px 0px 4px;
      color: #fff;
      font-size: 11px;
      top: -2px;
    }
  }

  a {
    flex: 1 1 0%;
    display: block;
    padding: 5px 6px;

    .item-nav {
      height: 100%;
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;

      .iconContainer {
        position: relative;

        i {
          font-size: 25px;
          color: #707070;

        }

      }

      .label {
        font-size: 11px;
        color: #707070;
        font-weight: 600;
        text-align: center;
      }

    }
  }

}

main {
  @media (max-width: @screen-sm-max) {

    height: ~"calc(100vh - 60px)";
  }
}

.js-mobile-logo {
  a:nth-child(2) {
    display: none;
  }
}


@media (max-width: @screen-sm-max) {
  .search-section {
    position: absolute;
    top: 40px;
    width: 100%;
    margin-left: -20px;
    background: #6fba36;
    z-index: 5;
    padding: 10px;

    .ui-widget.ui-widget-content {
      padding: 0 25px;
    }

    .ui-menu .ui-menu-item {
      display: flow-root;

      .thumb {
        float: left;
      }

      .name {
        margin-top: 15px;
      }
    }

    .input-group {
      display: block !important;

      input {
        border-radius: 10px;
      }

      .input-group-btn {
        position: absolute;
        z-index: 5;
        right: 44px;
        top: -4px;
      }
    }
  }
}

.rightSide {
  font-size: 15px;
  padding-bottom: 8px;
  color: #6fba36;
}

.expressdeliveryLabel {

  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
}

.app-figure {


  .div-label-cla {
    position: absolute;
    z-index: 22;
    top: 90px;
    right: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: @screen-xs-max) {
      top: 25px;
      right: 45px;
    }

    .label-Dry {
      .thumb {
        background-image: url("../images/dry.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        width: 100%;
        height: 100%;
      }

      cursor: pointer;
      width: 75px;
  height: 70px;

      max-width: 100%;
      border-radius: 50%;

      @media (max-width: @screen-xs-max) {
        width: 60px;
        height: 60px;

      }


    }

    .label-chilled {

      .thumb {

        background-image: url("../images/chilled.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;

        width: 100%;
        height: 100%;
      }

      cursor: pointer;
      width: 75px;
  height: 70px;

      max-width: 100%;
      border-radius: 50%;

      @media (max-width: @screen-xs-max) {
        width: 60px;
        height: 60px;

      }


    }


    .label-frozen {
      .thumb {
        background-image: url("../images/frozen.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        width: 100%;
        height: 100%;

      }

      cursor: pointer;
      width: 75px;
      height: 70px;

      max-width: 100%;
      border-radius: 50%;

      @media (max-width: @screen-xs-max) {
        width: 60px;
        height: 60px;

      }

    }

  }
}


.carousel__item, .product-item {
  .div-label-cla {
    position: absolute;
    z-index: 22;
    top: 30px;
    right: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .label-Dry {
      .thumb {
        background-image: url("../images/dry.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        width: 100%;
        height: 100%;

      }

      cursor: pointer;
      width: 65px;
      height: 65px;
      display: flex;
      flex-direction: column;
      max-width: 100%;
      border-radius: 50%;
      @media (max-width: @screen-xs-max) {
        width: 60px;
        height: 60px;

      }


    }

    .label-chilled {

      .thumb {

        background-image: url("../images/chilled.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        width: 100%;
        height: 100%;
      }

      cursor: pointer;
      width: 65px;
      height: 65px;
      display: flex;
      flex-direction: column;
      max-width: 100%;
      border-radius: 50%;

      @media (max-width: @screen-xs-max) {
        width: 60px;
        height: 60px;

      }


    }


    .label-frozen {
      .thumb {
        background-image: url("../images/frozen.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        width: 100%;
        height: 100%;
      }

      cursor: pointer;
      width: 65px;
      height: 65px;

      max-width: 100%;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      @media (max-width: @screen-xs-max) {
        width: 60px;
        height: 60px;

      }

    }

  }
}

.topBanner {
  margin: 0 -30px;
  padding: 15px 30px;
  font-size: 30px;
  font-weight: bold;
  @media (max-width: @screen-sm-max) {
    margin: 0 -10px ;
  }
}
.is-sticky .topBanner{display:none}


.page-productGrid .product-grid-section1-component .headline h1 { 
  font-size: 18px !important;
}
.headline2 {
  text-align: center;
  font-size: 16px;
}
span.dots {
  margin-left: 3px;
}
span.more{
  display: none;
}
a.show_more,a.show_less {
  display: inline-block;
}
span.more.viewdata{display: inline !important;}
.expressdelivery img+.expressdeliveryLabel{display: none !important;}


.express_icon{    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    margin: 10px;
    color: #626262;}
   .item__list__cart .express_icon{    font-size: 20px;
    line-height: 23px;
    display: inline-block;
    margin: 10px;
    color: #626262;}
.express_i{     position: absolute;   margin-top: -80px;
    margin-left: -144px;

.express_arrow_box {
		position: relative;    display: inline-block; max-width:250px;
	background: #f2f2f2;padding:10px;border: 2px solid #e9e9e9;
	span.text{padding:15px;}
	
}
.express_arrow_box:after, .express_arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.express_arrow_box:after {
	border-color: rgba(242, 242, 242, 0);
	border-top-color: #f2f2f2;
	border-width: 10px;
	margin-left: -10px;
}
.express_arrow_box:before {
	border-color: rgba(166, 166, 166, 0);
	border-top-color: #e9e9e9;
	border-width: 13px;
	margin-left: -13px;
}
}
.item__info .expressdelivery {
  display: block;
  padding-right: 0px;
    padding-left: 0px;
}
.checkout-order-summary-list-items span.expressdelivery {
  display: block;
  width: 100%;
  padding: 0 !important;
  margin-bottom: 10px !important;
}
.orangeback{    
	background: #f2a902;
    color: #fff;
    .left-side div,.right-side .headline,.right-side .headline .head_myaccount{color: #fff;}
    .order_dis .head_myaccount{margin-top:15px;font-size:15px !important;}
    }

.expressdelivery img+.expressdeliveryLabel{display: none !important;}
.carousel__item .div-label-cla .label-Dry, .product-item .div-label-cla .label-Dry, .carousel__item .div-label-cla .label-frozen, .product-item .div-label-cla .label-frozen, .carousel__item .div-label-cla .label-chilled, .product-item .div-label-cla .label-chilled {
  width: 110px;
  height: 110px;
  zoom: 0.8;
}


.app-figure .div-label-cla .label-frozen,
.app-figure .div-label-cla .label-Dry,
.app-figure .div-label-cla .label-chilled {
  cursor: pointer;
  width: 110px;
  height: 110px;
  max-width: 100%;
  border-radius: 50%;
  zoom: 0.8;
}

.redtext{color:#dd1423; font-size:13px; display:block; padding:5px; margin:5px 0 15px;}


@media (min-width: 1024px) {
  .navigation--bottom .nav__links--primary{position:relative !important}
  .navigation--bottom .nav__links--primary .sub__navigation {width:250px !important;left:auto !important;right:auto !important;border-radius: 10px;box-shadow: 1px 1px 2px 1px #2e2e2e4f;}
   .navigation--bottom .nav__links--primary .sub__navigation li{display:block; width:100% !important}
   .navigation--bottom .nav__links--primary .sub__navigation li a:hover{color:#f08b38 !important}
}