
input[type=checkbox] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none !important;
    border: none !important;
}
.label_remmber{
line-height: 20px;
    margin-bottom: 10px;
    input[type="checkbox"]{
    margin-right:25px;}
}
label > input[type=checkbox]:checked:before{

font-family: 'Font Awesome 5 Pro';
    font-weight: 500;
    display: inline-block;
    content: "\f14a";
    letter-spacing: 5px;
    font-size: 20px;
    margin-top: -5px;
    background: #fff;
    
    color: #6fbb34;
}
label > input[type=checkbox]:before{
        position: absolute;
    background-color: #FFFFFF;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 500;
    display: inline-block;
    content: "\f0c8";
    letter-spacing: 0;
    font-size: 20px;
    margin-top: -5px;
    background: #fff;
   
    color: #6fbb34;

}





#registerForm{

.btn-select{
font-size: 12px !important;
    border: 1px solid #ccc;
    background: #eff9fa !important;
    color: #888 !important;
    font-weight: 500;
        box-shadow: none;
   &:focus {
    border: 1px solid #67b32b;
    }
}

.form-group{
 label{
display:none}
 
    margin-top: 35px;
    
    input{    background: #eff9fa;
    }
}



.form-group{
    margin-top: 10px;

}
.control-label{
display:none}

.checkbox .control-label{
display:block}


.btn-default[disabled]{
color: #ffffff;
    background-color: #909090;
    border-color: #909090;
&:hover{
color: #ffffff;
    background-color: #424242;
    border-color: #424242;

}
}

}


.bootstrap_btn {
label{display:none}
button {    font-size: 13px !important;

background:#d4d4d470 !important;
color:#888 !important ;}
}
#loginForm{

.form-group{
 label{
display:none}
 
    margin-top: 35px;
    
    input{    background: #eff9fa;}
}




.password_login
{
.form-group{
 label{
display:none}
 
    margin-top: 35px;
    
    input{    background: #eff9fa;
    }
}


}
.forgotten-password{
    margin-bottom: 20px;
a{

color: #4b5557;
    font-weight: 600;
    margin-left: 10px;
}

}

button{
    border: 3px solid;
    color: #ffffff;
    background-color: #6fbb34;
    border-color: #6fbb34;
        margin-bottom: 20px;
    &:hover{
     background-color: #51921e;
    border-color: #51921e;
    
    }
}
.or-style{
    color: #4b5557;
    font-weight: 600;
    margin-left: 10px;
}a{
    font-weight: 700;
    &:hover{
    color:#b15b15;
    }
}

}


.register__section{
    border: 1px solid #ececec;
    padding: 15px 25px;
    border-radius: 10px;
    

.btn_register{
    margin-top: 10px;
    text-align: center;
    button{    
    padding: 12px 18px;
        border-radius: 15px !important;
        
    
    }
}


}


.login_box .login-page__headline{    text-align: center;}



