footer {

   
    margin:30px 0px 0;
    background: #fff url(../images/smilefooter.jpg) no-repeat bottom right;
    font-weight: 300;
    border-top: 1px solid #dcdcdc;
     background-size: 17%;
  @media (max-width: @screen-sm) {   background-size: 25%;} 
  @media (max-width: @screen-xs) {   background-size: 42%;}
  
  
.margin_top{    margin-top: 40px !important;

}
.logo .banner__component img{

margin-left: 31px;
margin-top: 36px;
max-width: 225px;
@media(max-width:@screen-sm-max){margin-left: 0px;}
}
}

.footer__top {
 

  @media (max-width: @screen-md) {
    padding-bottom: 38px;
  }

  .footer__nav--container {
	color:#545454;
    @media (max-width: @screen-sm) {
      margin-bottom: 10px;
     
    }

    .footer__nav--links {
      padding-left: 0px;
      width: 100%;
      margin: 0px;
      list-style: none;

      .footer__link {
        margin-top: 10px;
      }

      a {
       color: #737373;
    font-size: 14px;
    font-weight: 500;
      }
    }
  }
}

.footer__left {
  font-weight: bold;
}

.footer__right {
  .full-width-padding();
  @media (max-width: @screen-md) {
    border-top: 1px solid @footer-border-color;
    padding-top: 30px;
    margin-top: 25px;
  }

  .footer__dropdown {

    select.form-control {
      padding: 2px 13px;
    }

    .form-group {
      margin-bottom: 0;
    }

    .form-control {
      cursor: pointer;
      background-color: @footer-background;
      color: @footer-text-color;
      padding: 7px 10px;
      height: 26px;
      line-height: 20px;
      font-size: 14px;

      option {
        background-color: @footer-background;
      }

      &:focus::-ms-value {
        background-color: @footer-background;
      }
    }
  }
}

.footer__copyright {
  background: @copyright-background;
  padding: 25px 0;
  color: @copyright-color;
  text-align: center;
}

.social{
 	 @media (min-width: @screen-md-min){
 	 padding-right: 30px;
 	 
 	 }
    @media (max-width: @screen-sm-max){
       text-align: center;

    }
.banner__component:nth-child(1){
@media (min-width: @screen-md-min){
float: right;
a img{
    max-width: 115px;
    @media(max-width:@screen-md-max){
     max-width: 95px;
    }
}
}


}
.banner__component:nth-child(2){
@media (min-width: @screen-md-min){
    float: right;
    margin-right: 25px;
a img{
    max-width: 115px;
     @media(max-width:@screen-md-max){
     max-width: 95px;
    }
}
}}
.content{


		margin-top:22px;
    text-align: center;
    float: right;
  
    width: 100%;

p{ color: #414141;font-weight: 700;

}
ul{

display: inline-block;
      @media (min-width: @screen-lg-min){  margin-left: 90px;}
li:nth-child(1){
    list-style: none;
   cursor: pointer;
    display: inline-block;
  
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
        width: 50px;
    height: 50px;
    padding: 15px 15px;
    border: 1px solid #fff;
    border-radius: 50%;
     i{    
              color: #fff;  padding: 0 2px;
    font-size: 17px;
    }
    
    
    }
    
    li:nth-child(2){
    margin-left: 21px;
    list-style: none;
   cursor: pointer;
    display: inline-block;
   
    background: #ae121c;
    width: 50px;
    height: 50px;
    padding: 15px 15px;
    border: 1px solid #fff;
    border-radius: 50%;
   
    i{      color: #fff;
         padding: 0px 0px;
    font-size: 18px
    }
    }
    li:nth-child(3){
    margin-left: 21px;
    list-style: none;
   cursor: pointer;
    display: inline-block;
   
    background: #516fb1;
    width: 50px;
    height: 50px;
    padding: 12px 15px;
    border: 1px solid #fff;
    border-radius: 50%;
     i{        color: #fff;
       padding: 3px 2px;
    font-size: 17px;
    }
    
    }
}



}
}


.support_visa{
		margin-top:25px;
	a{
	text-align: center;
	img{
	max-width:350px}
	.smile{
	
	}
	
	}

}
.copy_right{
padding-bottom:30px;

.content{
    margin-top: 20px;
    text-align: center;
    a{
    @media(max-width:@screen-xs-max){
    display:block;}}
}
}
@media (min-width: @screen-md-min) {
.footer__nav--links{display:block !important;}
}
@media (max-width: @screen-sm-max) {
footer{    padding: 0 20px;
.footer__nav--links.activefooter{display:block;}
.footer__nav--links{display:none;}
.logo{text-align:center;
a img{    margin: 0 0 20px;}
}
.title .far{
    float: right;
    line-height: 20px;
}
}
}




@media (max-width: @screen-sm-max){

.social {


.banner__component:nth-child(1){
display: inline-block;
    margin: 0;
a{
 display: inline-block;
    width: 150px;
    margin: 10px;
    
    }
}

.banner__component:nth-child(2){
    display: inline-block;    margin: 0;
    a{
            display: inline-block;
    width: 150px;
    margin: 10px;}

}

.content{
    display: block;
    float: left;
    margin-top: 21px;
    width: 100%;
   
    text-align: center;
}
}
}









@media (min-width: @screen-md-min){
   .social{max-width:515px;
    }
    }


