@import "_navigation.less";

header {

  background: @header-background-color;
  margin-bottom: @grid-gutter-width;

  .page-cartPage &,
  .page-homepage &,
  .page-productGrid &,
  .page-searchGrid &,
  .page-search &,
  .page-cartPage &,
  .pageType-CategoryPage & {
	margin-bottom: 0;
  }
}

.cookie-alert--top {
  margin-bottom: 0;
}

#consent-management-alert {

  .consent-management-list {
    max-width: 100%;
    line-height: 1.6;
    padding: 0;
    margin: 0;
  }
  .consent-management-list__item {
        position: relative;
    margin-top: 0;
    margin-bottom: 3px;
    list-style-type: none;
    display: block;
    border-radius: 0;
    padding: 10px;
     &::before {
               float: left;
    margin-top: 4px;
              }

    @media (max-width: @screen-sm-max) {
      border-left: 0 none;
      border-right: 0 none;
     
    }

  }
  .consent-management-list__title {
       padding: 0px 15px 0 44px;
    display: block;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
  }
  .consent-management-list__title:before {
    font-family: 'Glyphicons Halflings', sans-serif;
    content: '\e114';
    font-size: 16px;
    position: absolute;
    left: 20px;
    top: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .consent-management-list__title:hover,
  .consent-management-list__title:focus {
    cursor: pointer;
    outline: none;
  }
  .is-expanded .consent-management-list__title:before {
    content: "\e113";
  }

  .consent-management-list__label {
    width: 85%;
    font-size: 15px;

    @media (max-width: @screen-sm-max) {
      width: 60%;
      font-size: 14px;
    }

  }

  .consent-management-list__content-inner {
    padding: 10px 40px 0 65px;
    font-size: 16px;

    @media (max-width: @screen-sm-max) {
      font-size: 14px;
    }

  }
  .consent-management-list__content {
    transition: height 0.3s ease-out;
    height: 0;
    overflow: hidden;
  }

  .consent-buttons-group {
       position: absolute;
    top: 6px;
    right: 10px;

    @media (max-width: @screen-xs-max) {
      right: 10px;
    }

    .btn {
      padding: 4px 38px;
      font-size: 13px;
      margin-left: 10px;

      @media (max-width: @screen-xs-max) {
        padding: 4px;
        font-size: 12px;
        margin-left: 0;
      }

    }
  }

}
   .head{ border-bottom: 1px solid #ccc;
   .content{    font-weight: 600;@media(max-width:1250px){
    font-size: 12px;}}
  				
    .registration, .loginaccount{list-style: none;display:inline-block;
    a{
    color:#000;font-weight: 600;}
    }
    .lang{list-style: none;display:inline-block;float: right;
    }
    
    }
    
    .top-links{
        min-height: 38px;
    float:right;
    margin:0;
    @media(max-width:1250px){
    font-size: 12px;}
    .registration{
       margin-right: 30px;
    padding: 8px 14px 5px 29px;
    position: relative;
   

    i{
       font-size: 18px;
    font-weight: 500;
    position: absolute;
    left: 5px;
    top: 1px;
    color: #6fbb34;}
    } 
    
    .loginaccount{
     margin-right:30px}
    .regisration{
    margin-right:30px;
    padding: 8px 14px 5px 29px;
    position: relative;
    
    i {
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    left: 8px;
    top: 6px;
    color: #6fbb34;}
    }
  
    }
    
    
    
    
    
    
    
    
    .nav__left{
    max-width:260px;}
    .site-search{
    
        padding-top: 13px;
    		.input-group
    		{display: block;}
        #js-site-search-input{
        display:block;
            height: 40px;
  			  border-radius: 10px;
   			 background-color: #eff9fa;
   			 }
   			 #js-site-search-input:focus{
   			 border:none}
   			 .js_search_button{    
   			left: -50px;
   			top: -2px;
   			z-index: 50 !important;
   			.fa-search:before{
   			color:#77b83d;
   			font-weight:bold}
   			 }
   			
    }

.title_sub{
    text-align: left;
    padding: 0px 20px;
    color: #6fbb34;}
    
    
    
    
    
    .login_box {
    display: none;
    position: absolute;
    z-index: 1002;
    min-width: 350px;
    top: 34px;
    right: 0;
    background: #fff;
    padding: 10px 30px;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.54), 0 6px 20px 0 rgba(0, 0, 0, 0.28);

	.login-page__headline{
	color: #6fbb34;
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    padding: 20px 0;
    margin: 0;
    text-transform: uppercase;
	}
		p {
    color: #465257;
    font-size: 14px;
    margin: 0 0 10px;
    font-weight: 600;
}
.form-group{
 .control-label{
 display:none}
 input{
 display: block;
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #19212b;
    background-color: #eff9fa;
    background-image: none;
    border: 1px solid #e4f7f8;
    border-radius: 10px;
 
 }}
 
 .forgotten-password{
 a {
     color: #4b5557;
    font-weight: 600;
    margin-left:10px}
 }
.btn-primary{
margin-bottom: 20px;
background-color: #6fbb34;
border-color: #6fbb34;
font-weight: 600;
&:hover{
background-color: #6fbb34;
border-color: #6fbb34;
}


}


}
.sgin_up{padding: 25px 30px;
    border-top: 1px solid #c8c8c8;
    margin: 0 -30px;
     a{
    color: #f08b38 !important;
    font-weight: 700 !important;
    }
    .or-style{
       padding-left: 7px;
    color: #465257;
    font-size: 14px;
    font-weight: 600;}
   
}


.darkback {
       position: fixed;
    z-index: 52;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
       background: #000;
    opacity: .3 !important;
}
.darkbacks {
       position: fixed;
    z-index: 52;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    background: none;
}
.js-site-logo img{max-width:250px;}

@media (max-width: @screen-sm-max){

.nav-cart{
text-align: center;
.center_cart{
.fa-shopping-cart{

    font-size: 20px;
    text-align: center;
}
}
.label_mini_cart{display:none;}

}


}







.popup_social{
    position: absolute;
    z-index: 1002;
    min-width: 258px;
    top: 38px;
    right: 72px;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.54), 0 6px 20px 0 rgba(0, 0, 0, 0.28);
  
     @media(max-width:1250px){
       min-width: 250px;
    top: 38px;
    right: 28px;
   
   }
  
    .social_linkedin{
    padding: 7px 11px;
    background: #0077b5;
    border-radius: 5px;
    margin: 5px;    cursor: pointer;
    
    i{    color: #fff;
    font-size: 16px;}
    
    
    }
		   .social_twitter{
       padding: 7px 10px;
    background: #55acee;
    border-radius: 5px;
    margin: 5px;    cursor: pointer;
    
    i{    color: #fff;
    font-size: 16px;}
    
    
    }
    
		   .social_facebook{
       padding: 7px 13px;
    background: #4267B2;
    border-radius: 5px;
    margin: 5px;    cursor: pointer;
    
    i{    color: #fff;
    font-size: 16px;}
    
    
    }
      .social_pinterest{
        padding: 7px 11px;
    background: #CB2027;
    border-radius: 5px;
    margin: 5px;    cursor: pointer;
    
    i{    color: #fff;
    font-size: 15px;}
    
    
    }  .social_messenger{
        padding: 7px 10px;
    background: #448AFF;
    border-radius: 5px;
    margin: 5px;    cursor: pointer;
    
    i{    color: #fff;
    font-size: 16px;}
    
    
    }  .social_whatsapp{
      padding: 7px 11px;
    background: #25d366;
    border-radius: 5px;
    margin: 5px;    cursor: pointer;
    
    i{    color: #fff;
    font-size: 16px;}
    
    
    }

}


@media(max-width:@screen-sm-max){

.site-search{
    background: #f8f8f8;
    border-radius: 10px;

}
}

.js-owl-rotating-image{




}


