/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.2; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.2em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.2); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
          background: #6eb62a;
    }
    &.mfp-bg {
      opacity: 0.2;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.2); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  

}








  .white-popup{
  
      position: relative;
    background: #FFF;
    padding: 0px;
     width: 75%;
     @media(max-width:@screen-sm-max){
     width:65%;
       padding-bottom: 0p 7px 15px;
     }
     @media(max-width:@screen-xs-max){
     width:85%
     }
     
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
  
  .leftSide{
     
    img{
    width:100%;
       @media(max-width:1200px){
        zoom: 0.92;
    width: auto;
     }
     @media(max-width:1100px){
         zoom: 0.88;
    width: auto;
     
     }
    
    }
  }
  
    
  }
  
  
  
  
  
  
  
  
  
  
  
  
  /* defines the animation */
@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.animationPage div {
  // first we make all instances of this transparent. 
  opacity: 0; 


  &.seven { 
      animation: fadeInUp .7s ease-out 0s forwards;
    animation-delay: 2s;
     .descriptionReferral{

       margin: 7px  14px;
    font-size: 15px;
    line-height: 26px;
    display: inline-block;
    @media(max-width:@screen-sm-max){font-size: 14px;
    }
    }
    .termsCon{
        font-size: 12px;
    display: block;
    a{
    color:#fff !important;}}
       
  }

  &.first {
  animation: fadeInUp .3s ease-out 0s forwards;
    animation-delay: .1s;
       
  }
  &.second {
  animation: fadeInUp .7s ease-out 0s forwards;
    animation-delay: 1s;
        margin: 15px 0;
  }
  &.third {
    animation: fadeInUp .7s ease-out 0s forwards;
    animation-delay: 1.3s;
        margin: 10px 0;
        font-size: 22px;
  }
  &.fourth {
      font-weight: 600;
    font-size: 19px;
     animation: fadeInUp .7s ease-out 0s forwards;
    animation-delay: 1.5s;
        margin: 10px 0;
  }
  &.fifth {
       animation: fadeInUp .7s ease-out 0s forwards;
      position: relative;
    animation-delay: 1.7s;
    .tooltip{     background: transparent !important;
        color: #fff;
    i{
        font-size: 18px;
    font-weight: 600;
    color:#ffffff;
    }
    }
     .fiftText{position: relative;}
        div{
       opacity: 1;
        }
  }
  &.sixth {
  animation: fadeInUp .7s ease-out 0s forwards;
    animation-delay: 2s;
    position: relative;
        z-index: 100;
      div{
       opacity: 1;
        }
        
        .socialContent{
        margin:10px 0;
          text-align: center;
              display: flex;
    align-items: center;
    justify-content: center;
        a{
        margin:10px;
        &:hover{
        color:#fff !important;
        }
        img{
        max-width:45px;}
        }
        }
  }
  
  

 }

/* now add general css for page */
.animationPage {
  
  text-align: center;
  font-size: 34px;
  color: #fff;
  font-weight: 300;
  
  
  .animationPage p { 
  margin: 10px 0;
  display: inline-block; 
  font-weight: 300;
}

// recolors some of the text
.emphasis {
  color: #fb6e67;
}
}



.animationPage{
.tooltip{

top: 19% !important;
    right: 25px !important;
    
    
    @media(max-width:@screen-xs-max){
        top: 19% !important;
    right: 15px !important;
    }
}


.tooltip .tooltiptext {
  visibility: hidden;
    width: 67px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 275%;
    margin-left: -75px;
    opacity: 1;
    transition: opacity 0.3s;
    /* transform: translateX(-50%); */
    font-size: 13px;
    
    
    @media(max-width:@screen-xs-max){
        left: 313%;
    font-size: 11px; width: 50px;
    }
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
}

  #myInput{
    opacity: 0.0000001;
    height: 1px;
    border: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    font-size: 2px;
    position: absolute;
  }
  
  .textUrl{
  background: #f5a333;
    padding: 15px;
    font-size: 16px;
    margin: 0 20px;
    
    @media(max-width:@screen-xs-max){
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
    font-size: 14px;   
    margin: 0 10px;
    
    
    }
    &::after{
    
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 14px;
    border-style: solid;
    border-color: #f5a333 transparent transparent transparent;}
  }
  
  .copyBtn{
      padding: 0;
    background: transparent;
  }
  .emailFormIcon{
      background: #f3a905;
    color: #fff;
    width: 45px;
    height: 45px;
    display: inline-block;
    padding: 5px;
    font-size: 26px;
    border-radius: 50%;
    margin-top:15px !important;
    i{
        font-weight: 400;
    }
    
    &:focus{
    color:#fff !important;
    }
  }
  
  
.second{
  img{
     @media(max-width:@screen-sm-max){
        
   max-width: 150px;
    margin: 15px 0;
     }
  }
  
  }
  
  
