.image-gallery__image{
	cursor: pointer;
}

.image-gallery__zoom-icon{
	font-size: 20px;
	opacity: 0.5;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
}

.page-productDetails {
  .carousel {
	@media (min-width: @screen-sm){
	  padding-left: 30px;
	  padding-right: 30px;
	}
  }
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.product-details,
.product-details-price{
  margin-bottom: 10px;

  @media (max-width: @screen-xs-max){
	margin-left:15px;
  }

  .name {
        color: #6fbb34;
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    padding: 20px 0;
    margin: 0;
    padding: 0;}
    .sku{
           color: #969696;
				font-size: 12px;
     
    }

    .code {
           font-size: 12px;
    padding-left: 5px;
    color: #969696;
    }


  .promotion {
      color: @item-promo-color;
  }

  .description{
      padding: (@grid-gutter-width/2) 0 25px;
          margin-top: 10px;
          
          .flagicon{
          		
          }
          
  }
		.unitdescription{
		
		    margin: 15px 0;
    color: #a5a5a5;
    font-size: 14px;
		
		}

  }

  .stock-status{
      font-weight: 300;
  }


@media (max-width: @screen-md-max) {
	.product-details,
	.product-details-price {
		.description{
			border-bottom: 1px solid @border-color-3;
		}
	}
}

.product-details.page-title {
  .full-width-padding();
}

.product-main-info {

margin-top:10%;
  .product-details {
	padding: 0;
  }
}

.variant-section{
input[name=variantOption]{
display:none;
}

.variantOption span{
    display: inline-block;
    border: 1px solid #eadada;
    border-radius: 50%;
    padding: 5px;
    min-width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 39px;
    font-size: 13px;
    color: #6fbb34;
    font-weight: 600;

}

input[name=variantOption]:checked ~ span{
    background: #6fbb34;
    color: #fff;
}
	margin-bottom: @grid-gutter-width + @grid-gutter-width/2;

	.variant-selector{
		.variant-name{
			font-size: 13px;
			font-weight: 600;
			color: @label-color;
			text-transform: uppercase;
			margin-top: 15px;
			margin-bottom: 5px;

			.variant-selected{
				font-weight: normal;
				text-transform: none;
			}
		}

		.variant-list{
			.list-unstyled;
			.clearfix;
			margin-left: -(@grid-gutter-width);

			li{
				float: left;
				margin: 0 0 0 (@grid-gutter-width);
				a,span{
					display: block;
					height: @input-height-base;
					width: @input-height-base;
					line-height: @input-height-base;
					text-align: center;
					text-transform: uppercase;
					border:1px solid @input-border-color;
					background: #fff;
					color: @text-color;
					text-decoration: none;

					@media (max-width: @screen-sm-max) {
						height: @input-height-large;
						width: @input-height-large;
						line-height: @input-height-large;
					}


					img{
						width: 100%;
						height: auto; 
						vertical-align: top;
						border:1px solid transparent;
					}
				}

				

				&:hover a,
				&.active a{
					background: @brand-primary;
					.box-shadow(~"inset 0 0  0 1px #fff");
					border:1px solid @brand-primary;
					color: #fff;
					

					img{
						border:1px solid #fff;
					}
				}


				&.disabled{
					span{
						color:#999;
						cursor: not-allowed;
					}
				}
			}
		}
		.variant-select{
			margin: (@grid-gutter-width/2) 0 0;
		}
	}
}


.rating{
	.clearfix;
	
	.rating-stars{
		margin: 0 5px 0 0;
		padding: 3px 0 1px;
	    position: relative;

		@media (max-width: @screen-sm-max) { 
			font-size: @font-size-large;
			float: none;
			.clearfix;
		}

	  	.greenStars{
		  position: absolute;
		  overflow: hidden;
		  top: 3px;
		  left: 0;
		  white-space: nowrap;
		  width: 0;
		}

		span{
			color: #dee3e8;
			margin: 0 0.1em;

            overflow: hidden;

	
			&.fh{
				width: 0.47em;
				margin-right: 0;
                .pull-left();
			}

			&.lh{
				width: 0.5em;
				text-indent: -0.44em;
				margin-left: 0;
                .pull-left();
			}

			&.active{
				color: @brand-primary;
			}
		}
	}

	&.rating-set{
		.rating-stars{
			cursor: pointer;
            display: inline-block;
		}
	}


	a{
		font-size: 13px;
		position: relative;
		margin-left: 10px;
		padding-left: 10px;

		&:before {
			border-left: 1px solid @border-color-3;
			content: "";
			height: 19px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

}


.tabs-responsive{

  .tab-container {
	float: none;
	padding: 0;
	    text-align: center;
  }

	@media (max-width: @screen-sm-max) {
		.tabhead{
			border-bottom: 1px solid @grayblue;
			
		}

	}
}

.tab-review{
	.review-pagination-bar{
		margin: (@grid-gutter-width/2) 0;
		.clearfix;
		.right{
			
			.pager{
				float: left;
				margin: 0 (@grid-gutter-width/2);
			}

		}
	}


	.review-list{
		.list-unstyled;
		.review-entry{
			margin: (@grid-gutter-width/2) 0;

			.title{
				font-weight:bold;
			}

			.content{
				
			}

			.autor{
				
				color:@gray-light;

			}

			.date{
			
			}

		}
	}


	.write-review{
		display: none;
	}
}












#AddToCart-PickUpInStoreAction{
	.make-sm-column(6);
	.make-md-column(12);
	margin-top: 20px;
}
.AddToCart-PickUpInStoreAction {
    margin-top: @grid-gutter-width/2;
}

#AddToCart-AddToCartAction{
	.make-sm-column(6);
	.make-md-column(12);
	margin-top: 20px;
}




#zoom-fig{


.smile{
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 1%;
    z-index: 1;
    right: 17%;

}


}


.product-details{
.wishlistbtn{

      position: absolute;
    top: 0;
    right: 20px;
    .fa-heart{
        font-size: 33px;
    font-weight: 500;
    color: #636f6b;}
    
   
.font_w{
    font-weight: 600;
    color: #f08b38;
 
    
  
    
    
    }


}

.rating{
.rating-stars{
font-size:20px;

}
.js-writeReviewTab{

display:none;
}


}

}
.qty_pdp{
       border: 1px solid #e6e6e6;
    border-radius: 9px;
    background: #f2f2f2;
    font-size: 15px;
    font-weight: 800;
    float: left;
    margin-right: 32px !important;
    padding: 1px 4px;
    @media(max-width:450px){
    margin-right:20px !important;
    
    }
    .js-qty-selector-minus{
        padding: 14px;
    cursor: pointer;
    color: #ababab;
   
    
    }
    .js-qty-selector-input{
        text-align: center;
    border: 0;
    background: #f2f2f2;
    color: #ababab;
    
    }
    .fa-plus{
    
        padding:7px 7px 7px 0px;
    cursor: pointer;
    color: #ababab;
    }



}
.addcart_pdp{

.actions{


display:inline-block;
.AddToCart-PickUpInStoreAction{margin:0 !important;}
.btn_pdp{
    padding: 5px 30px;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    background: #6fbb34;
    border-radius: 16px !important;

}
}
.stock-wrapper{

    font-size: 13px !important;
    margin: 0 !important;
    display: inline-block !important;
    float: none;
    line-height: 2 !important;
    padding-left: 5px;
    .fa-times-circle{
        color: red;
    font-size: 15px
    
    }
    .fa-check-circle{
    margin-right: 6px;
      color: #179b09;
    font-size: 15px
    
    }

}
}
@media(min-width:2000px){
.MagicZoom{
img{
max-width:650px !important;

}
}
}
.label_image{position: absolute;
    left: 17%;
    top: 9%;
    display: block;
    background: #f08b38;
    padding: 0px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    min-width: 40px;
    min-height: 40px;
    line-height: 50px;
    z-index:2;
    @media(max-width:@screen-xs-max){
     width: 40px;
    height: 40px;
    left: 12%;
    line-height: 40px;
    font-size: 13px;
    
    }
    
    
    }  .price{
          font-size: 17px;
    font-weight: bold;
    color: #414c50;
    display: inline-block;
    float:left;
  }
  .scratched{
      display: inline-block;
    margin-left: 20px;
    color: #b2b3b5;
    font-weight: 600;
    font-size: 18px;
        position: relative;
    }
.line_discount{
display: none;
    width: 100%;
    border-bottom: 2px solid #f1a900;
    position: absolute;
    top: 12px;
    left: 0;


}
.organic{
          display: inline-block;
    border-radius: 50%;
    width: 59px;
    height: 59px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    min-width: 40px;
    min-height: 40px;
    padding: 7px 0;
    z-index: 2;
    background: #6fbb34;
    text-align: center;
       position: relative;
	float:left;
    margin: 10px 10px 15px !important;
  
    .eco_position{
    font-size:11px;}
   @media (max-width: 639px){
   		 top: -31px;
    width: 59px;
    height: 59px;
    
    line-height: 40px;
    font-size: 13px;
   .eco_position{
       display: block;
    margin-top: -8px;
    }
   }   
    i{
         position: absolute;
    bottom: 9px;
    right: 20px;
        font-size: 15px;
    @media(max-width:@screen-xs-max){
        bottom: 12px;
    right: 23px;
    
    }
  
    }
    }




///////////////////////////////////////////////////product__listing/////////////////////////////////////////////////////////////////

.product__listing{

.name{margin: 0;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 10px;
    /* height: 70px; */
    overflow: hidden;
    color: #6fba36;
    /* float: left; */
    display: block;
    text-align: left;
}



.wishlist_icon{
      position: absolute;
    top: -60px;
    left: 16%;
    height: 9%;
    font-size: 35px;
    z-index: 2;

a{
color:#636f6b;

}

}








}



#zoom-fig
{
.wishlist_icon{
    position: absolute;
    bottom: 7%;
    right: 50%;
    z-index: 4;
    @media(max-width:@screen-sm-max){
     bottom: 27%;
    left: 17%;
    z-index: 5;
    
    }
    
    .fa-heart{
    font-size: 35px;
    font-weight: 500;
    color: #636f6b;
    @media(max-width:@screen-xs-max){
  font-size: 30px;
    
    }
    
    }
    .removeWishlistEntry{
     .fa-heart{
        
    font-weight: 600;
    color: #f08b38;
    
    }
    
    }

}



}






