.product__facet {
  margin: 0;

  padding: 0;
}

.product__facet .facet {
  padding: 45px 30px 30px 30px;
  
  .clearfix;

  &:last-child {
	margin: 0;
  }

  .facet__name {
	font-size: 14px;
	font-weight: normal;
	color: #000;
	margin-left: -5px;
  }

  .facet__list {
	.list-unstyled;
	margin:  (@grid-gutter-width/2) 0;

	li{
	  padding: (@grid-gutter-width/2) 0;
	}

	label{
	  cursor: pointer;
	  font-weight: normal;
	  display: block;
	  margin: 0;
	}

	.facet__list__mark {
	  display: inline-block;
	  width: 20px;
	  height: 20px;
	  padding: 0;
	  margin-right:  (@grid-gutter-width/2);
	  border: 1px solid @input-border-color;
	  text-align: center;
	  vertical-align: middle;
	  background: @input-background;
	  margin-top: -3px;
	}

	.facet__list__checkbox:checked + .facet__list__label {

	  .facet__list__mark {
		background: @link-color;
		border:1px solid @link-color;
		.box-shadow(~"inset 0 0  0 1px @check-box-bg");
	  }

	  .facet__list__text {
		color: @link-color;
	  }

	}

	.facet__list__checkbox:focus + .facet__list__label {
	  .facet__list__mark {
		border:1px solid @brand-primary;
		.box-shadow(~"inset 0 0  0 1px @check-box-bg");
	  }
	}

	.facet__list__text {
	  line-height: 20px;
	}

  }

  .facet__list.facet__list--hidden {
	display: none;
  }

  .facet__values__more {
	display: block;
  }

  .facet__values__less {
	display: none;
  }


  .facet__form {
	padding-top: 10px;

	.input-group {
	  background-color: @input-background;
	  min-height: 32px;
	  border: 1px solid @input-border-color;

	  .form-control {
		border: 0 none;
		height: 32px;
		box-shadow: none;
	  }

	  .btn {
		width: 40px;
		height: 32px;
		line-height: 32px;
		padding: 0;

		.glyphicon-search {
		  color: @searchbar-icon-color;
		  font-size: 17px;
		  top: 0;
		}
	  }
	}

	.line-text {
	  margin: @grid-gutter-width 0;
	}

  }

  .facet__form__hidden {
	display: none;
  }

  .facet__results__hidden {
	display: none;
  }
}

@media (max-width: @screen-sm-max) { 
  .product__facet {
	padding: (@grid-gutter-width/2);
	margin: 0;
	border: 0 none;

	#colorbox &{
	  display: block !important;
	}

	.facet {
	  float: none;
	  width: 100%;
	  border:0;
	  margin: 0;
	  padding: 0 0  (@grid-gutter-width/2) 0;

	  .facet__name {
		background: @table-2n-line-bg;
		cursor: pointer;
		padding: (@grid-gutter-width/2);
		padding-right: (@grid-gutter-width * 2 );
		text-transform: uppercase;
		position: relative;

		.facet__arrow {
		  font-size: 12px;
		  position: absolute;
		  top: 17px;
		  right: (@grid-gutter-width * 1.5);

		  &:before {
			content: "\e080";
		  }
		}
	  }

	  .facet__values {
		display: none;
	  }
	}

	.facet.active {

	  .facet__arrow {
		&:before {
		  content: "\e114";
		}
	  }

	  .facet__values{
		display: block;
	  }

	}
  }
}