.pageType-CategoryPage .map {
	img {
	  min-width: 100%;
	  width:100%;
	}
}

.searchEmptyPageMiddle-component {
  .full-width-padding();
}

.product__list--wrapper {
  @media (min-width: @screen-md-min) {
	padding: 0;
	margin: 0 0 0 -20px;
  }

  .pagination-wrap {
	@media (min-width: @screen-sm) {
	 
	}
  }
}

.searchSpellingSuggestionPrompt {
  padding-left: 20px;
  padding-right: 20px;
}

.pagination-bar {
  @media (max-width: @screen-sm-max) {
	.sort-refine-bar {
	  button {
		padding-left: 20px;
		padding-right: 20px;
	  }
	}
  }
}

.results {
float:left;
width:100%;
  h1 { 
    
    .page-headline();
    color: #6fbb33 !important;
    margin-top: @grid-gutter-width;
    padding-left: @grid-gutter-width;
    
  }
}

.product__listing {
  .list-unstyled;

	.product__listing--promo {

	  .text-success;
	  margin-bottom: (@grid-gutter-width/2);

	  @media (min-width: @screen-md) {
		padding-right: 20px;
		margin: 0 -10px;
	  }
	}

	.product__list--price-panel {
	  text-align: right;
	}

	.product__list--name {
	  display: block;
	  text-transform: uppercase;
	  font-weight: bold;
	  margin: 0 0 (@grid-gutter-width/2) 106px;
	  color: inherit;
	}

	.product__listing--description {
	  .hidden-xs;
	  margin: 0 210px 0 106px;
	}

	.addtocart {
	  clear: both;
	  text-align: center;
	  padding: (@grid-gutter-width/2) 0 0 0;
	      margin-top: 15px;
    		position: relative;
    		.outstock{
    		    position: absolute;
    top: -12px;
    left: 0;    color: #f41e00;
    font-size: 13px;
    i{    margin-right: 5px;
    color: red;
    font-size: 15px;
    }
    		}

	  button {
		margin-bottom: (@grid-gutter-width/4);
	  }

	  @media (min-width: @screen-md-min) {


		.pickup-in-store-available {
		  .ProductGridComponent-ListPickUpInStoreAction,
		  .ProductGridComponent-ListAddToCartAction,
		  .SearchResultsList-ListPickUpInStoreAction,
		  .SearchResultsList-ListAddToCartAction,
		  .SearchResultsGrid-ListPickUpInStoreAction,
		  .SearchResultsGrid-ListAddToCartAction {
			width: 49%;
			display: inline-block;
			float: left;
		  }
		  .ProductGridComponent-ListAddToCartAction {
		  	position: relative;
		  	right: 1%;
		  	float: right;
		  }
		  .ProductGridComponent-ListPickUpInStoreAction {
		  	position: relative;
		  	left: 1%;
		  }
		  @media (min-width: @screen-lg-min) {
		  	.ProductGridComponent-ListAddToCartAction,
		  	.ProductGridComponent-ListPickUpInStoreAction {
		  		width: calc(~'49% - 4px');
		  	}
		  }
		}
	  }

	  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

		.pickup-in-store-available {
		  margin: 0 -(@grid-gutter-width/5);

		  .ProductGridComponent-ListPickUpInStoreAction,
		  .ProductGridComponent-ListAddToCartAction,
		  .SearchResultsList-ListPickUpInStoreAction,
		  .SearchResultsList-ListAddToCartAction,
		  .SearchResultsGrid-ListPickUpInStoreAction,
		  .SearchResultsGrid-ListAddToCartAction {
			padding: 0 (@grid-gutter-width/6);
		  }

		}
	  }
	}

	&.product__list .product__list--item,
	&.product__grid .product-item {
		&.tag-highlighted {
			position: relative;

			&:before {
				content: "";
				z-index: -1;
				position: absolute;
				border: 2px solid @brand-primary;
				top: 14px;
				left: 12px;
				right: 12px;
				bottom: 14px;
			}
			&:after {
				&:extend(.glyphicon);
				content: "\e006";
				top: 18px;
				left: 16px;
				color: @brand-primary;
				width: 24px;
				line-height: 22px;
				height: 24px;
				font-size: 18px;
				padding: 0;
				text-align: center;
				position: absolute;
			}
		}
	}


	&.product__list {
	  .product__list--item {
		padding: @grid-gutter-width 30px;
		border-top: 1px solid @border-color;

		&:nth-of-type(2n) {
		  background-color: @table-2n-line-bg;
		}

			@media (max-width: @screen-md) {
			  padding-left: 20px;
			  padding-right: 20px;
			}
			&.tag-highlighted {
				&:before {
					left: 0;
					right: 0;
					top: 1px;
					bottom: 0;
				}
				&:after {
					font-size: 16px;
					top: 8px;
					left: 7px;
				}
				&:first-child {
					&:before {
						top: 0;
					}
				}
				&:nth-of-type(2n) {
					background: transparent;

					&:before {
						top: 1px;
						background-color: @table-2n-line-bg;
					}
				}
			}
	  }

	  .product__list--thumb {
		float: left;
		margin-right: (@grid-gutter-width/2);
		display: block;
		  &> img {
			  width: 96px;
		  }
	  }

	  .product__list--price-panel {
		float: right;
		width: 200px;
	  }

	  .ProductListComponent-ListPickUpInStoreAction,
	  .ProductListComponent-ListAddToCartAction,
	  .SearchResultsList-ListPickUpInStoreAction,
	  .SearchResultsList-ListAddToCartAction {
		.make-xs-column(6);
		.make-sm-column(4);
		.make-sm-column-push(4);
	  }

	  .ProductListComponent-ListOrderFormAction,
	  .SearchResultsList-ListOrderFormAction {
		.make-xs-column(6);
		.make-xs-column-push(6);
		.make-sm-column(4);
		.make-sm-column-push(0);
	  }

	  @media (max-width: @screen-xs-max) {
		.product__list--price-panel {
		  text-align: left;
		  float: none;
		  margin-left: 106px;
		  width: auto;
		}
	  }
	}

	&.product__grid {
	  .flex-display(flex);
	  .flex-wrap(wrap);

	  .product-item {
		.make-xs-column(12);
		.make-sm-column(6);
		.make-md-column(4);
		.make-lg-column(3);

		padding: @grid-gutter-width;
		.flex-display(flex);
		.flex-direction(column);

		// fix for Safari
		&:first-child {
		  margin-left: -1px;
		}
			&.tag-highlighted {
				position: relative;
			}
	  }

	  .thumb {
		   
		
		text-align: center;
		

		img {
		 width: 100%;
		}
		.smile{
		        width: 29%;
    height: 15%;
    position: absolute;
    bottom: 3%;
    right: 19%;
		
		}
		.item_wishlist{
		        position: absolute;
    bottom: 2%;
    left: 16%;
    color: #636d6a;
    font-size: 30px;
    font-weight: bold;
    
		
		}
	  }

	  .details {
		text-align: center;
		    position: relative;
		width : 100%;
  		padding-right: 18px;
    padding-left: 40px;

		.name {
		     margin: 0;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 10px;
    height: auto;
    overflow: hidden;
    color: #6fba36;
    display: block;
    text-align: left;
    height:50px;
		}
		.country_code{
    text-align: left;
		
		}

			.scratched{
			display: inline-block;
    margin-left: 5px;
    color: #b2b3b5;
    font-weight: 600;
    font-size: 14px;
   
        
        position: relative;
			}

.line_dis{    width: 100%;
    border-bottom: 2px solid #f1a900;
    position: absolute;
       top: 9px;
    left: 0;}
		.addtocart{
		
		    text-align: center;
		    .price{
	font-size: 14px;
    padding-top: 0px;
    padding-left: 2px;
    color: #616264;
    font-weight: bold;
    min-height: 28px;

        .price{    min-height: auto;
    margin: 0;;}
		    
		    }
		
		.addtocart-component{
		    display: inline-block;
    		float: right;
    		    width: 100%;
    		.add_to_cart_form{
    		margin-top:6px;
    		
    		
    		.js-qty-selector{
    			    border: 1px solid #e6e6e6;
    border-radius: 6px;
    background: #f2f2f2;
    padding: 8px 0px;
    font-size: 12px;
    font-weight: 800;
    float: left;
    margin-right: 12px;
    
    
    .js-qty-selector-minus{
       padding: 0 4px;
    border: none;
    background: #f2f2f3;
    margin: 0 4px;
        outline: none;
    .fa-minus{
    color: #ababab;
    font-weight: 600;
    }
    }
    .js-qty-selector-input{
    
        text-align: center;
    border: 0;
    background: #f2f2f2;
    color: #ababab;
    
    
    
    }
    .js-qty-selector-plus{
        padding: 0 4px;
    border: none;
    background: #f2f2f3;
    margin: 0 4px;
        outline: none;
    
    .fa-plus{
    font-weight: 600;
    color:#ababab;
    
    }
    
    }
    		
}

.js-enable-btn{

cursor: pointer;
    color: #fff;
    background: #6fba36;
    border: 1px solid #7cb841;
    border-radius: 50% !important;
    padding: 8px 5px;

}
    		}
		
		}
		
		
		}






		.price {
		  font-size: 18px;
		}

		.promo {
		  color: @item-promo-color;
		  font-size: 14px;
		  font-weight: bold;
		}
	  }

	  // Clearfixes
	  @media (min-width: @screen-sm-min) {
		.product-item:nth-child(4n+1) {
		  clear: both;
		}
	  }

	  @media (max-width: @screen-xs-max) {
		.product-item:nth-child(2n+1) {
		  clear: both;
		}
	  }
	}
  }



.search-empty {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

  .headline {
	margin-bottom: 20px;
  }


  .search-suggestions {
	margin-bottom: 20px;
  }
}





//Product Category Page styling

.product-category-page{
    .product-categories{
        .refine-bar{
            padding-bottom:(@grid-gutter-width/2);
            padding-top:(@grid-gutter-width/2);
        }
      	.pcp-prod,
      	.pcp-banner{
          	padding-left: 0;
          	padding-right: 0;
      	}

        .pcp-banner .simple-responsive-banner-component,
		.pcp-banner .banner__component--responsive {
            margin-right: -20px;
        }

      	.pcp-banner{
          	padding-top:(@grid-gutter-width/2);
      	}
    }
}

@media (min-width: @screen-md) {
		.search-list-page-right-result-list-slot{
				margin-left: -20px;
				margin-top: -20px;
		}

		.search-list-page-right-result-list-component{
				padding-left: 20px;
		}

		.product-list-right-slot{
				margin-left: -20px;
		}

		.product-list-right-component{
				margin-left: 0;
				padding-top: 20px;
		}

		.product-list-right-component .pagination-bar{
				margin-top: 0;
		}
}

.search-results-highlight {
	font-weight: bold;
}

.details{

.flagicon{
margin-top:1px !important
}

}



#product-facet{
margin-top:25px}






#product-facet select{display:none;}
#product-facet .btn-select{
    background: #fff !important;
        color: #153a59 !important;
    
    font-weight: 600;
    
    .caret{
    color:#7bae51;
    }
}
#product-facet .bootstrap-select > select{display:inline}


