.language-en {
.link_ar{display:block !important;color:#6fbb34;}
.link_en{display:none !important;}
}
.language-ar {
.link_en{display:block  !important;;color:#6fbb34;}
.link_ar{display:none  !important;}
}

body.language-ar {    text-align: left;
    direction: ltr;
    font-family: 'Cairo', sans-serif;
    .pos_label_filter.glutenFree{padding:6px;line-height: 0px !important; .eco_position {
        margin-top: 0px !important;
    line-height: 11px;font-size:9px;
}}
#st_gdpr_iframe{right:auto !important;     width: 0 !important;
     height: 0 !important;
     position: static !important; }
     .GlutenFree .toggle_product_list {
    min-width: 188px;}
    #colorbox{left: auto;}
    .fa-chevron-right:before{    content: "\f053";}
.fa-chevron-left:before{    content: "\f054";}

footer {
 margin:30px 0px 0;
    background: #fff url(../images/smilefooterar.jpg) no-repeat bottom left;
    font-weight: 300;
    border-top: 1px solid #dcdcdc;
     background-size: 17%;
  @media (max-width: @screen-sm) {   background-size: 25%;} 
  @media (max-width: @screen-xs) {   background-size: 42%;}
    }
    }