
/*input {
 padding: 4px 3px;
 margin: 3px 0;
 width: 100%;
 box-sizing: border-box;
 border-radius: 2px;
}*/

.ui-tagify-wrap {
    border-radius: 3px;
    border-top-color: #999;
    border-left-color: #999;
    background: #fff;
    min-height: 30px;
    overflow: auto;
    text-align: left;
    border: 1px solid #fff;
}
.ui-tagify-tag {
    background: #D3E2E2;
    display: inline-block;
    padding: 2px 8px;
    margin: 4px;
    border-radius: 2px;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); */
    color: #000;
        font-weight: 500;
            text-transform: none !important;
}
.ui-tagify-selected {
 background: #cbcbcb;
}

.ui-tagify-input {
 padding: 4px 3px;
 border: none;
 outline: none;
 color: #000;
 background: #fff;
        font-weight: 500;
    
    &::placeholder {
  color: #fff;
  opacity: 1; 
}
}
.ui-tagify-remove {
    text-decoration: none;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.15);
    padding: 1px 3px 1px 4px;
    color: rgba(255, 255, 255, 0.5);
    float: right;
    margin: 1px 0 2px 4px;
    line-height: 1;
    border-radius: 50%;
    font-weight: bold;
    color: #000 !important;
    background: transparent !important;
}
.ui-tagify-remove:hover {
 background: rgba(0, 0, 0, .3);
}