// @import url(//fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic);
// @import url(//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic);
// @import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
//
// Load core variables and mixins
// --------------------------------------------------
@import "../../bootstrap-3.3.7/less/bootstraphome.less";
@import "vendorhome.less";

@import "variables.less";
@import "fa/fontawesome.less";
@import "global.less";
@import "footer.less";
@import "header.less";
@import "mixins.less";
@import "buttons";
@import "inlineLayer.less";
@import "tab_animation.less";
@import "carousel.less";
@import "cart.less";
@import "landingLayout2page.less";
// print
@import "print.less";
@import "rtl.less";


.skip, .skiptocontent, .skiptonavigation{
	.sr-only;
}
body {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    margin: 0;
}