##messageSource=classpath:/aldahraordermanagementcustomaddon/messages/document-picklabel_$lang.properties
<html>
<head>
    <style type='text/css'>@media screen, print {
        table {
            width: 96%;
            margin: 25px 10px 0;
            font-family: "Open Sans", sans-serif;
            color: #151c22;
        }

        th{
            padding: 5px 5px 5px 15px;
            font-weight: bold;
            text-align: left;
        }

        th.hd1 {
            font-size: 19px;
        }

        th.hd2 {
        }

        td {
            padding: 5px 0 5px 15px;
            font-size: 15px;
        }

        div.pick-slip-border{
            border-top: 1px solid #e5e9ed;
        }

        td.headline{
            font-size: 27px;
            font-weight: 600;
            color: #1e2830;
        }

        td.table-header{
            font-size: 19px;
            font-weight: 600;
            color: #1e2830;
        }

        .sitelogo>img{
            max-width: 250px;
        }

        body>table{
            max-width: 1200px;
            margin-left:auto;
            margin-right:auto;
        }
    }</style>
</head>
<body>
<table>
    <tr>
        <td colspan="2" class="sitelogo">
            ${ctx.cmsSlotContents.SiteLogo}
        </td>
        <td><!--company name data--></td>
    </tr>
    <tr>
        <td align="center" valign="middle">
            <a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.TopContent}</a>
        </td>
    </tr>
    <tr>
        <table>
            <tr>
                <td class="headline">
                    $!{ctx.messages.pickSlip}
                </td>
                <td style="text-align:right;">
                    <strong>$!{ctx.messages.date}</strong>$!{ctx.date}
                </td>
            </tr>
            <tr>
                <td colspan="4"><div class="pick-slip-border"></div></td>
            </tr>
            <tr>
                <td>
                    <strong>$!{ctx.messages.orderId}</strong>
                </td>
                <td>
                    <strong>$!{ctx.messages.orderDate}</strong>
                </td>
            </tr>
            <tr>
                <td>
                    $!{ctx.escapeHtml($ctx.order.code)}
                </td>
                <td>
                    $!{ctx.order.date}
                </td>
                </tr>
            <tr>
                <td colspan="4"><div class="pick-slip-border"></div></td>
            </tr>
            <tr>
                <td>
                    <strong>$!{ctx.messages.shipTo} </strong><br/>
                    $!{ctx.escapeHtml($ctx.consignment.shippingAddress.firstname)} $!{ctx.escapeHtml($ctx.consignment.shippingAddress.lastname)}
                </td>
                <td>
                    <strong>$!{ctx.messages.billTo} </strong>
                </td>
                <td>
                    <strong>$!{ctx.messages.timeSlot} </strong>
                    
                </td>
            </tr>
            <tr>
                <td>
                  #if(${ctx.consignment.shippingAddress.city})
                       $!{ctx.messages.shippingAddressCity}  <br/>
                    #end
 				#if(${ctx.consignment.shippingAddress.area})
                     $!{ctx.messages.shippingAddressArea}  <br/>                
                     #end
				 #if(${ctx.consignment.shippingAddress.line1})
                     $!{ctx.messages.shippingAddressLine1} <br/>
                     #end
 				#if(${ctx.consignment.shippingAddress.mobile})
                     $!{ctx.messages.shippingAddressPhone} <br/>
                     #end
 				#if(${ctx.consignment.shippingAddress.buildingName})
                     $!{ctx.messages.shippingAddressBuildingName} <br/>
                     #end
 				#if(${ctx.consignment.shippingAddress.apartmentNumber})
                    $!{ctx.messages.shippingAddressApartmentNumber} <br/>
                    #end
 				#if(${ctx.consignment.shippingAddress.nearstLandMark})
                    $!{ctx.messages.shippingAddressNearstLandMark} <br/>
                    #end
                </td>
          <td>
                    
            #if(${ctx.consignment.shippingAddress.city})
               $!{ctx.escapeHtml($ctx.getCityName($ctx.consignment))}
            <br/>
            #end            

            #if(${ctx.consignment.shippingAddress.area})
               $!{ctx.escapeHtml($ctx.getAreaName($ctx.consignment))}
            <br/>
            #end            

            #if(${ctx.consignment.shippingAddress.line1})
            $!{ctx.escapeHtml($ctx.consignment.shippingAddress.line1)}           

            <br/>
            #end            

            #if(${ctx.consignment.shippingAddress.mobile})
            $!{ctx.escapeHtml($ctx.consignment.shippingAddress.mobile)}            

            <br/>
            #end            

            #if(${ctx.consignment.shippingAddress.buildingName})
            $!{ctx.escapeHtml($ctx.consignment.shippingAddress.buildingName)}            

            <br/>
            #end            

            #if(${ctx.consignment.shippingAddress.apartmentNumber})
            $!{ctx.escapeHtml($ctx.consignment.shippingAddress.apartmentNumber)}             

            <br/>
            #end            

            #if(${ctx.consignment.shippingAddress.naearstLandMark})
            $!{ctx.escapeHtml($ctx.consignment.shippingAddress.nearstLandMark)}          

            <br/>
            #end
                   
           </td>
           <td>
                  $!{ctx.escapeHtml($ctx.consignment.order.timeslotDescription)} <br/>
               </td>
            </tr>
            <tr>
                <td colspan="4"><div class="pick-slip-border"></div></td>
            </tr>
        </table>
        
                #if(${ctx.consignment.order.express})
                  <table style="margin:25px 0;width:100%" >
                  <tr>
                    <td colspan="2">
                  
                      <span class="expressdelivery" style="margin:25px 0;width:25%"> 
                      <img src="${ctx.mediaBaseUrl}$!{ctx.getExpressLogo()}" style="margin:25px 0;width:25%" />
                      </span>
                    </td>
                       </tr>
		    	#end
		    	
        <table class='data'>
            <tr>
                <td colspan="6" class="headline">$!{ctx.messages.customerOrder}</td>
            </tr>
            <tr>
                <td colspan="6"><div class="pick-slip-border"></div></td>
            </tr>
            <tr>
                <th colspan="6" class="hd1">$!{ctx.messages.shipmentDetails}</th>
            </tr>
            <tr>
                <th class="hd2">$!{ctx.messages.productCount}</th>
                <th class="hd2">$!{ctx.messages.productCode}</th>
                <th class="hd2">$!{ctx.messages.productImage}</th>
                <th class="hd2">$!{ctx.messages.productDescription}</th>
                <th class="hd2">$!{ctx.messages.productUOM}</th>
                <th class="hd2">$!{ctx.messages.productBinCode}</th>
                <th class="hd2">$!{ctx.messages.productLotCode}</th>
                <th class="hd2">$!{ctx.messages.productQuantity}</th>
            </tr>
            <tr>
                <td colspan="6"><div class="pick-slip-border"></div></td>
            </tr>

            #foreach( $consignmentEntry in ${ctx.consignmentEntries} )
                <tr>
                    <td>$foreach.count</td>
                    <td>$!{ctx.escapeHtml($consignmentEntry.orderEntry.product.code)}</td>
                    <td><img src="${ctx.mediaBaseUrl}$!{ctx.getProductImageURL($consignmentEntry)}" /></td>
                    <td>$!{ctx.escapeHtml($ctx.getProductName($consignmentEntry.orderEntry.product))}</td>
                    $!{ctx.escapeHtml($consignmentEntry.orderEntry.product.unitOfMeasureCode)}</td>
                    <td>$!{ctx.escapeHtml($ctx.getUOMCode($consignmentEntry.orderEntry.product))}</td>
                    
                  	<td>$!{ctx.escapeHtml($ctx.extractBin($consignmentEntry))}</td>
                  	<td>$!{ctx.escapeHtml($ctx.extractLot($consignmentEntry))}</td>
                    <td>$!{consignmentEntry.quantityPending}</td>
                </tr>
            #end
            <tr>
                <td colspan="6"><div class="pick-slip-border"></div></td>
            </tr>
        </table>
    </tr>
    <tr>
        <td align="center" valign="middle">
            <a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.BottomContent}</a>
        </td>
    </tr>
</table>
</body>
</html>
